<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.authentication.api.IAuthentication">
      </endpoint>
      <endpoint
            api="net.bluemind.authentication.api.ISecurityToken">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.authentication.service.AuthenticationFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.authentication.service.InCoreAuthenticationFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.authentication.service.SecurityTokenService$Factory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.authentication.api.IAPIKeys">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.authentication.service.APIKeysServiceFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.user.hook.userhook">
      <hook
            impl="net.bluemind.authentication.service.internal.AuthContextUserHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.core.sessions.provider">
      <provider
            impl="net.bluemind.authentication.service.TokenSessionProvider"
            priority="42">
      </provider>
   </extension>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.authentication.service.tokens.TokenExpireVerticle$Factory">
      </verticle>
   </extension>

</plugin>
