<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.mailbox.storage">
      <mailbox-storage
            class="net.bluemind.backend.mailapi.storage.MailApiBoxStorage"
            priority="500">
      </mailbox-storage>
   </extension>

</plugin>
