<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="webapp.mail" name="mail" schema="schema/webapp.mail.exsd"/>
   <extension point="net.bluemind.webmodule">
      <web-module-provider module="/webapp">
         <web-resource bundle="net.bluemind.webapp.mail.js" />
         <js async-loading="false" path="js/net.bluemind.webapp.mail.js">
            <dependency path="js/vue.js" />
            <dependency path="js/vuex.js" />
            <dependency path="js/vue-router.js" />
            <dependency path="js/ui-components.js" />         
         </js>
      </web-module-provider>
   </extension>
   <extension point="net.bluemind.webapp">
      <application href="/webapp/mail/" name="%banner-entry.name" priority="512" role="hasMail" shortcut="true" help="https://doc.bluemind.net/release/5.0/category/la-messagerie">
         <icon>
            <svg>
               <![CDATA[ 
               <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 5C1 4.44772 1.44772 4 2 4H20C20.5523 4 21 4.44772 21 5V17C21 17.5523 20.5523 18 20 18H2C1.44772 18 1 17.5523 1 17V5Z" fill="#00A0DD"/>
                  <path d="M11 13.2991L21 5.63225V4.93271C21 4.41972 20.6021 4 20.1158 4H1.88417C1.39788 4 1 4.41972 1 4.93271V5.63225L11 13.2991Z" fill="#00CBFF"/>
                  <path d="M14.1398 10.8919L11 13.2991L8.14221 11.1081L1 16.5823V17.0673C1 17.5803 1.39788 18 1.88417 18H20.1158C20.611 18 21 17.5803 21 17.0673V16.1532L14.1398 10.8919Z" fill="#168ACF"/>
               </svg>
               ]]>
            </svg>
         </icon>
	 <description>%banner-entry.description</description>
      </application>
   </extension>

    <extension point="net.bluemind.extensions">
      <export-extension-point id="webapp.mail"></export-extension-point>
    </extension>
    <extension
          point="serviceworker.scripts">
       <script
             path="mail.service-worker.js">
       </script>
    </extension>
</plugin>
