<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.todolist.api.ITodoList">
      </endpoint>
      <endpoint
            api="net.bluemind.todolist.api.IVTodo">
      </endpoint>
      <endpoint
            api="net.bluemind.todolist.api.ITodoUids" 
            inline="true">
      </endpoint>
      <endpoint
            api="net.bluemind.todolist.api.ITodoLists">
      </endpoint>
      <endpoint
            api="net.bluemind.todolist.api.ITodoListsMgmt">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.tag.eventConsumer">
      <consumer
            class="net.bluemind.todolist.service.internal.TagEventConsumer">
      </consumer>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.todolist.service.TodoListServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.todolist.service.VTodoServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.todolist.service.TodoListsServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.todolist.service.TodoListsMgmtServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.todolist.service.InCoreTodoListsMgmtServiceFactory"></serviceFactory>
   </extension>
   <extension
         point="net.bluemind.core.rest.eventBusAccessRule">
      <access-rule
            class="net.bluemind.todolist.service.TodolistEventBusAccessRule">
      </access-rule>
   </extension>
   <extension
         point="net.bluemind.core.container.sharding.sharded">
      <container
            type="todolist">
      </container>
   </extension>

</plugin>
