<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <appSettings>
    <add key="login" value="admin@bm.lan"/>
    <add key="pass" value="admin"/>
    <add key="url" value="https://trusty.bm.lan"/>
    <add key="addressbook" value="book:Contacts_admin"/>
    <add key="calendar" value="calendar:Default:admin"/>
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
          <target value="Console.Error" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} [%logger] : %m%n" />
      </layout>
    </appender>
  </log4net>
  <uri>
    <schemeSettings>
      <add name="https" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
    </schemeSettings>
  </uri>
</configuration>