# https://github.com/systemd/systemd/issues/4909#issuecomment-269383232
[Unit]
Description=BlueMind services
After=network-online.target
Wants=network-online.target

[Install]
# Components of this application should be started at boot time
WantedBy=multi-user.target
