#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with systemd

override_dh_auto_install:
	dh_auto_install
	mv $(CURDIR)/ROOT/* $(CURDIR)/debian/bm-conf

override_dh_systemd_enable:
	dh_systemd_enable --name=bluemind bluemind.target
