table.container {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table.container tr {
	border-bottom: 1px solid #CCC;
}

table.container tr:hover {
	background: #F8F8F8;
}

.item td {
	height: 30px;
}

.trash {
	padding-right: 15px;
}

.itemCountWarning {
	cursor: pointer;
	color: orange;
}

.itemCountWarningDialogContent {
	padding: 8px;
	margin: 8px;
	border: 1px solid #fbc7c6;
	background: #fddfde;
}

.warningIcon {
	width: 40px;
}