<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.webmodule">
      <web-module-provider
            module="*">
         <js
               async-loading="true"
               path="net.bluemind.ui.push/net.bluemind.ui.push.nocache.js">
         </js>
         <js
               async-loading="false"
               path="static/net.bluemind.ui.banner.im.js">
         </js>
         <web-resource
               bundle="net.bluemind.ui.push">
         </web-resource>
      </web-module-provider>
   </extension>
   <extension
         point="net.bluemind.ui.commons.banner.widget">
      <widget-entry
            creator="bubbleCreator"
            priority="100"
            role="hasIM">
      </widget-entry>
   </extension>
   <extension point="webapp.banner">
      <widget component="BmIMWidget">
      </widget>
   </extension>
</plugin>
