<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="net.bluemind.webmodule">
      <web-module-provider  module="*">
         <js async-loading="true" path="net.bluemind.ui.push/net.bluemind.ui.push.nocache.js" />
         <web-resource bundle="net.bluemind.ui.push" />
      </web-module-provider>
   </extension>
</plugin>
