#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_DH_STRIP_NONDETERMINISM_ARGS := "--exclude=."

build:
	
install/bm-plugin-hps-cas::
	cp -rf ${CURDIR}/ROOT/* ${CURDIR}/debian/bm-plugin-hps-cas
