<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.server.hook.serverhook">
      <hook
            impl="net.bluemind.elastic.topology.service.EsTopologyHook">
      </hook>
   </extension>

   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.elastic.topology.service.impl.EsTopologyService$Factory">
      </serviceFactory>
   </extension>

</plugin>
