Source: bluemind
Section: net
Priority: optional
Maintainer: Blue Mind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-admin-console
Architecture: amd64
Depends: bm-webserver (= ${binary:Version})
Description: Admin Console web interface
 Admin Console web interface

Package: bm-plugin-admin-console-monitoring
Depends: bm-admin-console, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
