Source: bluemind
Section: net
Priority: optional
Maintainer: BlueMind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-edge-role
Architecture: amd64
Depends: bm-node (= ${binary:Version}), bm-conf (= ${binary:Version}), bm-postfix (= ${binary:Version}), bm-nginx (= 1.16.1-bluemind92), bm-ysnp (= ${binary:Version}), bm-tick-node (= ${binary:Version})
Description: BlueMind edge role
 Install and configure BlueMind server edge role to proxy services to BlueMind core

