<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="net.bluemind.resource.resourceHook" name="resourceHook" schema="schema/net.bluemind.resource.resourceHook.exsd"/>
	<extension-point id="net.bluemind.resource.resourceTypeHook" name="resourceTypeHook" schema="schema/net.bluemind.resource.resourceTypeHook.exsd"/>
</plugin>
