<!DOCTYPE html>
<html lang="${BMLang}">
    <head>
        <base href="/webapp/" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="gwt:property" content="locale=${BMLang}" />
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        ${cssRuntime}

        <title>BlueMind Mail</title>
    </head>

    <body>
        <div id="app"></div>

        ${jsRuntime}
    </body>
</html>
