<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.core.sanitizer.tests.CalledSanitizerFactory">
      </sanitizerfactory>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.core.sanitizer.tests.DontCallSanitizerFactory">
      </sanitizerfactory>
   </extension>

</plugin>
