<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.dataprotect.service.restoreaction" name="restoreaction" schema="schema/net.bluemind.dataprotect.service.restoreaction.exsd"/>
   <extension-point id="net.bluemind.dataprotect.service.backupworker" name="backupworker" schema="schema/net.bluemind.dataprotect.service.backupworker.exsd"/>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.dataprotect.service.DPServiceFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.dataprotect.api.IDataProtect">
      </endpoint>
   </extension>

</plugin>
