<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension-point id="webapp.banner" name="banner" schema="schema/webapp.banner.exsd"/>
    <extension-point id="webapp.preferences" name="webapp.preferences" schema="schema/webapp.preferences.exsd"/>
    <extension-point id="net.bluemind.webapp" name="webapp" schema="schema/net.bluemind.webapp.exsd"/>
    <extension-point id="serviceworker.extension" name="serviceworker.extension" schema="schema/serviceworker.extension.exsd"/>
    <extension-point id="serviceworker.resource" name="serviceworker.resource" schema="schema/serviceworker.resource.exsd"/>
    
   <extension
         point="net.bluemind.webmodule">
      <web-module
            root="/webapp"
            index="index.html">

         <handler
               class="net.bluemind.webmodules.webapp.handlers.WebAppHandler"
               path="index.html">
         </handler>
         <handler
               class="net.bluemind.webmodules.webapp.handlers.WebAppBlankHandler"
               path="blank">
         </handler>
         <handler
               class="net.bluemind.webmodules.webapp.handlers.PartContentUrlHandler"
               path="part/url/">
         </handler>               
         <handler
               class="net.bluemind.webmodules.webapp.handlers.ServiceWorkerModules"
               path="service-worker-modules">              
         </handler>
      </web-module>
      
   </extension>

   <extension
         point="net.bluemind.webmodule.server">
      <web-filter
            class="net.bluemind.webmodules.webapp.webfilters.TryMailAppFilter">
      </web-filter>
      <web-filter
            class="net.bluemind.webmodules.webapp.webfilters.legacy.LegacyAppRedirectFilter">
      </web-filter>      
   </extension>
	
    <extension
         point="net.bluemind.extensions">
      <export-extension-point
            id="net.bluemind.webapp">
      </export-extension-point>
      <export-extension-point
            id="webapp.banner">
      </export-extension-point>
      <export-extension-point
            id="webapp.preferences">
      </export-extension-point>            
    </extension>
    <extension
          point="serviceworker.extension">
       <export-extension-point
             id="serviceworker.resource">
       </export-extension-point>
    </extension>

</plugin>
