<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension-point id="net.bluemind.banner" name="banner" schema="schema/net.bluemind.banner.exsd"/>
    
   <extension
         point="net.bluemind.webmodule">
      <web-module
            root="/webapp"
            index="index.html">

         <handler
               class="net.bluemind.webmodules.webapp.handlers.WebAppHandler"
               path="index.html">
         </handler>
      </web-module>
      
   </extension>

    <extension
         point="net.bluemind.extensions">
      <export-extension-point
            id="net.bluemind.banner">
      </export-extension-point>
    </extension>

</plugin>
