<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
   <extension
         point="net.bluemind.document.documentstore">
      <document_store
            implementation="net.bluemind.calendar.hook.ics.TestFileSystemStore">
      </document_store>
   </extension>
   <extension
         point="net.bluemind.videoconferencing.provider">
      <provider
            impl="net.bluemind.calendar.hook.ics.VideoConfTestProvider">
      </provider>
   </extension>

</fragment>
