<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.elasticsearch.schema">
      <schema
            count="25"
            index="mailspool"
            schema="mailspool.json"
            schemamatcher="net.bluemind.index.schema.MailspoolSchemaMatcher">
      </schema>
   </extension>
   <extension
         point="net.bluemind.elasticsearch.schema">
      <schema
            count="1"
            index="mailspool_pending"
            schema="mailspool_pending.json"
            rewritable="true">
      </schema>
   </extension>
</plugin>
