<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.user.hook.userhook" name="userhook" schema="schema/net.bluemind.user.hook.userhook.exsd"/>
   <extension-point id="net.bluemind.user.hook.passwordvalidatorfactory" name="passwordvalidatorfactory" schema="schema/net.bluemind.user.hook.passwordvalidatorfactory.exsd"/>
   <extension-point id="net.bluemind.user.hook.usermailidentity" name="usermailidentity" schema="schema/net.bluemind.user.hook.usermailidentity.exsd"/>
   <extension-point id="net.bluemind.user.hook.usersettings" name="usersettings" schema="schema/net.bluemind.user.hook.usersettings.exsd"/>
</plugin>
