<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="hpslauncher"
         name="HPS Launcher"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.bluemind.proxy.http.launcher.HPSLauncher">
         </run>
      </application>
   </extension>
   <extension
         id="hps"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bluemind.proxy.http.launcher.hpslauncher"
            name="hps">
         <property
               name="appName"
               value="hps">
         </property>
      </product>
   </extension>

</plugin>
