<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.system.hook">
      <sanitizor
            class="net.bluemind.system.iptables.tools.SystemConfigurationSanitizor">
      </sanitizor>
      <validator
            class="net.bluemind.system.iptables.tools.SystemConfigurationValidator">
      </validator>
   </extension>

</plugin>
