<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.ui.settings.menusContributor">
      <contributor
            function="gwtSettingsCalendarMenusContributor">
      </contributor>
   </extension>
   <extension
         point="net.bluemind.ui.settings.screensContributor">
      <contributor
            function="gwtSettingsCalendarScreensContributor">
      </contributor>
   </extension>
   <extension
         point="net.bluemind.webmodule">
      <web-module-provider
            module="/settings">
         <handler
               class="net.bluemind.ui.gwtcalendar.server.ImportICSHandler"
               path="calendar/import">
         </handler>
      </web-module-provider>
   </extension>
</plugin>
