*~
build_conf_dir/
build_directory/
build_artifacts/
tmpsrc/
#*.tar.bz2
bm-xivobridge.tar.bz2
ysnp.tar.bz2
plugin-ad.tar.bz2
promote.tar.bz2
bm-eas.tar.bz2
bm-hps.tar.bz2
bm-xmpp.tar.bz2
bm-ips.tar.bz2
bm-pimp.tar.bz2
bm-lmtpd.tar.bz2
bm-locator.tar.bz2
bm-mq.tar.bz2
bm-dav.tar.bz2
bm-tika.tar.bz2
bm-node.tar.bz2
bm-smbtools.tar.bz2
bm-ips.tar.bz2
#bm-*.tar.bz2
bm-core.tar.bz2
opush.tar.bz2
*.product_build.properties
*.cdbs-config_list
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/files
debian/bm-hsm-consult/
debian/bm-push/
debian/bm-node/
debian/bm-soap/
debian/bm-admin-console/
debian/bm-setup-wizard/
debian/bm-installation-wizard/
debian/bm-default-app/
debian/bm-webmail/
debian/bm-calendar/
debian/bm-lmtpd/
debian/bm-apache/
debian/bm-ca/
debian/bm-cas-role/
debian/bm-certs/
debian/bm-contact/
debian/bm-hps/
debian/bm-ldap/
debian/bm-mailbox-role/
debian/bm-mq/
debian/bm-settings/
debian/bm-tomcat/
debian/bm-webmail/
debian/bm-im/
debian/bm-plugin-core-ad-import/
debian/slapd.conf
debian/slapd.conf.bm
debian/ysnp/
ui/Contact/extra/
ui/Settings/extra/
solr/parser/bj-query-parser.jar
debian/stamp-makefile-build
debian/stamp-makefile-check
debian/stamp-makefile-install
build_*.log
ui/common/php/tests/bluemind/phpunit.xml
.svn/
core-client.tar.bz2
bluejob-core.tar.bz2
nctrunner.tar.bz2
test-launcher.tar.bz2
da.tar.bz2
ui/SetupWizard/war/WEB-INF/deploy/
*.pyc
.DS_Store
ui/AdminConsole/gwt-unitCache/
*.swp
*.komodoproject
node-client.tar.bz2
target
*.iml
.idea
.settings
# jvm OOM
hs_*.log
*.log
velocity.log*
