<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.calendar.hook">
      <hook
            impl="net.bluemind.calendar.service.internal.WaitForCalendarHook"
            priority="-99999">
      </hook>
      <hook impl="net.bluemind.calendar.service.tests.CalendarTestSyncHook">
      </hook>
      <hook impl="net.bluemind.calendar.service.tests.CalendarTestAsyncHook">
      </hook>
   </extension>

</plugin>
