<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<roundcube:if condition="config:enable_spellcheck" />
<link rel="stylesheet" type="text/css" href="/googiespell.css" />
<roundcube:endif />
</head>
<body>

<div class="minwidth">
<roundcube:include file="/includes/header.html" />

<div id="mainscreen">

<div id="composeview-left">
	<roundcube:button type="link" command="send" class="goog-button-base goog-primaryactionbutton send" classSel="goog-button-base goog-button-base-active goog-primaryactionbutton compose pressed" label="sendmessage" tabindex="11" />

<!-- inline address book -->
<div id="compose-contacts" class="uibox listbox">
<h2 class="boxtitle"><roundcube:label name="contacts" /></h2>
  <roundcube:object name="addressbooks" id="directorylist" class="listing" />
  <div class="scroller withfooter">
    <roundcube:object name="addresslist" id="contacts-table" class="listing" noheader="true" />
  </div>
<div class="boxfooter">
  <roundcube:button innerclass="fa fa-plus-circle" command="add-recipient" prop="to" type="link" title="to" class="goog-inline-block goog-button goog-button-base goog-button-base-disabled" classAct="goog-inline-block goog-button goog-button-base" label="to" />
  <roundcube:button innerclass="fa fa-plus-circle" command="add-recipient" prop="cc" type="link" title="cc" class="goog-inline-block goog-button goog-button-base goog-button-base-disabled" classAct="goog-inline-block goog-button goog-button-base" label="cc" />
  <roundcube:button innerclass="fa fa-plus-circle" command="add-recipient" prop="bcc" type="link" title="bcc" class="goog-inline-block goog-button goog-button-base goog-button-base-disabled" classAct="goog-inline-block goog-button goog-button-base" label="bcc" />
</div>
<div class="boxpagenav">
  <roundcube:button command="firstpage" type="link" class="fa fa-step-backward btn disabled" classAct="fa fa-step-backward btn" title="firstpage" content="&nbsp;" />
  <roundcube:button command="previouspage" type="link" class="fa fa-caret-left btn disabled" classAct="fa fa-caret-left btn" title="previouspage" content="&nbsp;" />
  <roundcube:button command="nextpage" type="link" class="fa fa-caret-right btn disabled" classAct="fa fa-caret-right btn" title="nextpage" content="&nbsp;" />
  <roundcube:button command="lastpage" type="link" class="fa fa-step-forward btn disabled" classAct="fa fa-step-forward btn" title="lastpage" content="&nbsp;" />
</div>
</div>

</div>

<div id="composeview-right">

<!-- toolbar -->
<div id="messagetoolbar" class="fullwidth">
<div id="mailtoolbar" class="toolbar">
	<roundcube:if condition="config:enable_spellcheck" />
	<span class="dropbutton">
		<roundcube:button command="spellcheck" type="link" class="button spellcheck disabled" classAct="button spellcheck" classSel="button spellcheck pressed" label="spellcheck" title="checkspelling" />
		<span class="dropbuttontip" id="spellmenulink" onclick="UI.show_popup('spellmenu');return false"></span>
	</span>
	<roundcube:endif />
	<roundcube:button type="link" command="list" class="goog-inline-block goog-menu-button goog-button-base btn fa fa-arrow-left" content="&nbsp;" tabindex="13" />
	<roundcube:button name="addattachment" type="link" class="goog-inline-block goog-menu-button goog-button-base goog-button-base-first btn fa fa-paperclip" content="&nbsp;" title="addattachment" onclick="UI.show_uploadform();return false" /><roundcube:button command="insert-sig" type="link" class="goog-button-base-last goog-inline-block goog-menu-button goog-button-base goog-button-base-middle goog-button-base-disabled btn fa fa-pencil" classAct="goog-button-base-last goog-inline-block goog-menu-button goog-button-base goog-button-base-middle btn fa fa-pencil" classSel="goog-button-base-last goog-inline-block goog-menu-button goog-button-base goog-button-base-middle btn fa fa-pencil" content="&nbsp;" title="insertsignature"  /><roundcube:button type="link" command="savedraft" class="goog-button-base-last goog-inline-block goog-menu-button goog-button-base goog-button-base-last btn fa fa-download" title="savemessage" content="&nbsp;" tabindex="12" />
	<roundcube:container name="toolbar" id="compose-toolbar" />
</div>
</div>

<form name="form" action="./" method="post" id="compose-content" class="uibox">

<!-- message headers -->
<div id="composeheaders">

<table class="headers-table compose-headers">
<tbody>
	<tr>
		<td class="title"><label for="_from"><roundcube:label name="from" /></label></td>
		<td class="editfield">
			<roundcube:object name="composeHeaders" part="from" form="form" id="_from" tabindex="1" />
		</td>
		<td class="formlinks">
			<a href="#cc" onclick="return UI.show_header_row('cc')" id="cc-link"><span class="fa fa-plus-circle"></span><roundcube:label name="addcc" /></a>
			<a href="#reply-to" onclick="return UI.show_header_row('replyto')" id="replyto-link"><span class="fa fa-plus-circle"></span><roundcube:label name="addreplyto" /></a>
			<a href="#bcc" onclick="return UI.show_header_row('bcc')" id="bcc-link"><span class="fa fa-plus-circle"></span><roundcube:label name="addbcc" /></a>
			<a href="#followup-to" onclick="return UI.show_header_row('followupto')" id="followupto-link"><span class="fa fa-plus-circle"></span><roundcube:label name="addfollowupto" /></a>
		</td>
	</tr><tr>
		<td class="title top"><label for="_to"><roundcube:label name="to" /></label></td>
		<td colspan="2" class="editfield"><roundcube:object name="composeHeaders" part="to" form="form" id="_to" cols="70" rows="1" tabindex="2" /></td>
	</tr><tr id="compose-cc">
		<td class="title top">
			<label for="_cc"><roundcube:label name="cc" /></label>
			<a href="#cc" onclick="return UI.hide_header_row('cc');" class="fa fa-minus-circle" />
		</td>
		<td colspan="2" class="editfield"><roundcube:object name="composeHeaders" part="cc" form="form" id="_cc" cols="70" rows="1" tabindex="3" /></td>
	</tr><tr id="compose-bcc">
		<td class="title top">
			<label for="_bcc"><roundcube:label name="bcc" /></label>
			<a href="#bcc" onclick="return UI.hide_header_row('bcc');" class="fa fa-minus-circle" />
		</td>
		<td colspan="2" class="editfield"><roundcube:object name="composeHeaders" part="bcc" form="form" id="_bcc" cols="70" rows="1" tabindex="4" /></td>
	</tr><tr id="compose-replyto">
		<td class="title top">
			<label for="_replyto"><roundcube:label name="replyto" /></label>
			<a href="#replyto" onclick="return UI.hide_header_row('replyto');" class="fa fa-minus-circle" /> 
		</td>
		<td colspan="2" class="editfield"><roundcube:object name="composeHeaders" part="replyto" form="form" id="_replyto" size="70" tabindex="5" /></td>
	</tr><tr id="compose-followupto">
		<td class="title top">
			<label for="_followupto"><roundcube:label name="followupto" /></label>
			<a href="#followupto" onclick="return UI.hide_header_row('followupto');" class="fa fa-minus-circle" />
		</td>
		<td colspan="2" class="editfield"><roundcube:object name="composeHeaders" part="followupto" form="form" id="_followupto" size="70" tabindex="7" /></td>
	</tr><tr>
		<td class="title"><label for="compose-subject"><roundcube:label name="subject" /></label></td>
		<td colspan="2" class="editfield"><roundcube:object name="composeSubject" id="compose-subject" form="form" tabindex="8" /></td>
	</tr>
</tbody>
</table>

<div id="composebuttons" class="formbuttons">
</div>

</div>


<!-- message compose body -->
<div id="composeview-bottom">
	<div id="composebodycontainer">
		<roundcube:object name="composeBody" id="composebody" form="form" cols="70" rows="20" tabindex="9" />
	</div>
	<div id="compose-attachments" class="rightcol">
		<div style="text-align:center; margin-bottom:20px">
			<roundcube:button name="addattachment" type="input" class="goog-button-base goog-button" classSel="button pressed" label="addattachment" onclick="UI.show_uploadform();return false" tabindex="10" />
		</div>
		<roundcube:object name="composeAttachmentList" id="attachment-list" class="attachmentslist" />
	</div>
</div>


<div id="mailview-bottom" class="uibox">
	<roundcube:object name="message" id="message" class="statusbar" />
</div>
<!-- (collapsable) message options -->
<div id="composeoptionsbox">

	<span class="composeoption">
		<label><roundcube:label name="options" />
			<a href="#options" id="composeoptionstoggle" class="fa fa-caret-square-o-up"></a>
		</label>
		<roundcube:object name="composeOptionsHeader" class="composeoption" />
	</span>
	<roundcube:object name="composeOptionsBody"  />

	<div id="composeoptions">
		<roundcube:if condition="!in_array('htmleditor', (array)config:dont_override)" />
		<span class="composeoption">
			<label><roundcube:label name="editortype" />
				<roundcube:object name="editorSelector" editorid="composebody" tabindex="14" /></label>
		</span>
		<roundcube:endif />
		<span class="composeoption">
			<label for="rcmcomposepriority"><roundcube:label name="priority" />
				<roundcube:object name="prioritySelector" form="form" id="rcmcomposepriority" /></label>
		</span>
		<span class="composeoption">
			<label><roundcube:object name="receiptCheckBox" form="form" id="rcmcomposereceipt" /> <roundcube:label name="returnreceipt" /></label>
		</span>
		<span class="composeoption">
			<label><roundcube:object name="dsnCheckBox" form="form" id="rcmcomposedsn" /> <roundcube:label name="dsn" /></label>
		</span>
		<span class="composeoption">
			<label><roundcube:label name="savesentmessagein" /> <roundcube:object name="storetarget" maxlength="30" style="max-width:12em" /></label>
		</span>
		<roundcube:container name="composeoptions" id="composeoptions" />
	</div>

</div>

</form>
</div><!-- end mailview-right -->

</div><!-- end mainscreen -->

</div><!-- end minwidth -->

<div id="upload-dialog" class="propform popupdialog" title="<roundcube:label name='addattachment' />">
	<roundcube:object name="composeAttachmentForm" id="uploadform" attachmentFieldSize="40" buttons="no" />
	<div class="formbuttons">
		<roundcube:button command="send-attachment" type="link" class="goog-button-base goog-primaryactionbutton" label="upload" />
		<roundcube:button name="close" type="link" class="goog-button-base goog-button" label="cancel" onclick="UI.show_uploadform()" />
	</div>
</div>

<div id="spellmenu" class="popupmenu"></div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
