<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.calendar.hook" name="hooks" schema="schema/net.bluemind.calendar.hook.exsd"/>

   <extension
         point="net.bluemind.user.hook.userhook">
      <hook
            impl="net.bluemind.calendar.hook.CalendarHookUser">
      </hook>
   </extension>
</plugin>
