<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.webmodule.server">
      <web-filter
            class="net.bluemind.webmodule.authenticationfilter.AuthenticationFilter">
      </web-filter>
   </extension>
   <extension
         point="net.bluemind.webmodule">
      <web-module
            root="/auth">
         <handler
               class="net.bluemind.webmodule.authenticationfilter.CodeVerifierHandler"
               path="verify">
         </handler>
      </web-module>
   </extension>
   <extension
         point="net.bluemind.hornetq.forwardToVertx">
      <vertx-forwarder
            class="net.bluemind.webmodule.authenticationfilter.ForwardSessionMessages">
      </vertx-forwarder>
   </extension>

</plugin>
