<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.keycloak.api.IKeycloakAdmin">
      </endpoint>
      <endpoint
            api="net.bluemind.keycloak.api.IKeycloakClientAdmin">
      </endpoint>
      <endpoint
            api="net.bluemind.keycloak.api.IKeycloakKerberosAdmin">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.keycloak.service.KeycloakAdminServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.keycloak.service.KeycloakClientAdminServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.keycloak.service.KeycloakKerberosAdminServiceFactory"></serviceFactory>
   </extension>
   <extension
         point="net.bluemind.server.hook.serverhook">
      <hook
            impl="net.bluemind.keycloak.config.KeycloakServerHook"
            priority="1">
      </hook>
   </extension>
   <extension
         point="net.bluemind.domain.domainHook">
      <hook
            class="net.bluemind.keycloak.service.domainhook.DomainHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.keycloak.internal.KeycloakRealmRepairSupport$Factory">
      </repairSupport>
   </extension>

</plugin>
