<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.jdbc.schema">
      <schema
            name="webappdata-schema"
            resource="sql/webappdata-schema.1.0.0.sql">
         <compose
               id="item-store">
         </compose>
      </schema>
   </extension>

</plugin>
