<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.MatchAlwaysRuleFactory"
            priority="1">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.SenderInOuRuleFactory"
            priority="2">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.AndRuleFactory"
            priority="5">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.OrRuleFactory"
            priority="5">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.NotRuleFactory"
            priority="5">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.XorRuleFactory"
            priority="5">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.RecipientIsExternalRuleFactory"
            priority="2">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.RecipientIsInternalRuleFactory"
            priority="2">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.SenderInGroupRuleFactory"
            priority="2">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.SendDateIsAfterFactory"
            priority="2">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.SendDateIsBeforeFactory"
            priority="2">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.milter.rulefactory">
      <rule_factory
            impl="net.bluemind.mailflow.rules.factories.SenderIsRuleFactory"
            priority="2">
      </rule_factory>
   </extension>
   <extension
         point="net.bluemind.core.caches.registry.registration">
      <reg
            impl="net.bluemind.mailflow.rules.SenderInGroupRule$CacheRegistration">
      </reg>
      <reg
            impl="net.bluemind.mailflow.rules.SenderInOuRule$CacheRegistration">
      </reg>
   </extension>
</plugin>
