<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.reminder.job" name="job" schema="schema/net.bluemind.reminder.job.exsd"/>
   <extension
         point="net.bluemind.scheduledjob.scheduler.job">
      <scheduledjob_provider
            implementation="net.bluemind.reminder.job.ReminderJob">
      </scheduledjob_provider>
   </extension>
   
      <extension
         point="net.bluemind.core.rest.eventBusAccessRule">
      <access-rule
            class="net.bluemind.reminder.job.SessionReminderNotifRuleAccess">
      </access-rule>
   </extension>

</plugin>
