<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.system.application.registration.ApplicationRegistrationFactory">
      </verticle>
   </extension>
   
   <extension-point 
   		id="net.bluemind.system.application.registration.appHook" 
   		name="appHook" 
   		schema="schema/net.bluemind.system.application.registration.appHook.exsd"/>
   

</plugin>
