<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.group.hook.grouphook">
      <hook
            impl="net.bluemind.backend.postfix.GroupHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.server.hook.serverhook">
      <hook
            impl="net.bluemind.backend.postfix.SmtpTagServerHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.domain.domainHook">
      <hook
            class="net.bluemind.backend.postfix.DomainHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.mailbox.hook">
      <hook
            class="net.bluemind.backend.postfix.MailboxHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.system.hook">
      <observer
            class="net.bluemind.backend.postfix.SettingsHook">
      </observer>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.backend.postfix.PostfixMapUpdaterFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.backend.postfix.internal.maps.events.DirtyMapEventFactory">
      </verticle>
   </extension>
   <extension
         point="net.bluemind.server.hook.serverhook">
      <hook
            impl="net.bluemind.backend.postfix.ShardSmtpConfServerHook">
      </hook>
   </extension>
</plugin>
