<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.addressbook.ldap.adapter.ldapcontactenhancer">
      <hook
            impl="net.bluemind.addressbook.ldap.adapter.tests.enhancer.LdapContactEnhancerHook">
      </hook>
   </extension>
	
</plugin>
