<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
  <property name="DEFAULT_PATTERN"
    value="%date{ISO8601, ${net.bluemind.property.system.timezone:-GMT}} [%thread] %c{1} %p - %m%n" />

  <!-- Sentry send exceptions -->
  <appender name="Sentry" class="io.sentry.logback.SentryAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>
  <appender name="SDS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>/var/log/bm-sds-proxy/sds.log</File>
    <encoder>
      <pattern>${DEFAULT_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/var/log/bm-sds-proxy/sds.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>7</maxHistory>
      <totalSizeCap>500MB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender name="ASYNC_SDS" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>500</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="SDS" />
  </appender>

  <root level="INFO">
    <appender-ref ref="ASYNC_SDS"/>
    <appender-ref ref="Sentry"/>
  </root>
</configuration>
