<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
   <extension
         point="net.bluemind.system.schemaupgrader.javacode">
      <java
            code="net.bluemind.system.schemaupgrader.tests.samples.JavaCodeUpdater"
            sequence="75"
            date_yyyyMMdd="20200428">
      </java>
   </extension>
   <extension
         point="net.bluemind.system.schemaupgrader.sqlscript">
      <sql
            sequence="75"
            date_yyyyMMdd="20200428"
            database="net.bluemind.system.schemaupgrader.UpgraderDatabase$ALL"
            ignore_errors="true"
            script="sql_samples/dummy.sql">
      </sql>
      <sql
            sequence="76"
            date_yyyyMMdd="20200429"
            database="net.bluemind.system.schemaupgrader.UpgraderDatabase$ALL"
            after_schema_upgrade="true"
            ignore_errors="true"
            script="sql_samples/dummy.sql">
      </sql>
      <sql
            sequence="77"
            date_yyyyMMdd="20200429"
            database="net.bluemind.system.schemaupgrader.UpgraderDatabase$DIRECTORY"
            after_schema_upgrade="true"
            ignore_errors="true"
            script="sql_samples/dummy.sql">
      </sql>
      <sql
            sequence="78"
            date_yyyyMMdd="20200429"
            database="net.bluemind.system.schemaupgrader.UpgraderDatabase$SHARD"
            after_schema_upgrade="true"
            ignore_errors="true"
            script="sql_samples/dummy.sql">
      </sql>
      <sql
            sequence="4"
            date_yyyyMMdd="20200415"
            database="net.bluemind.system.schemaupgrader.UpgraderDatabase$ALL"
            ignore_errors="false"
            script="sql_samples/not_found.sql">
      </sql>
   </extension>
   <extension
         point="net.bluemind.system.schemaupgrader.upgradersprovider">
      <upgraders-provider
            class="net.bluemind.system.schemaupgrader.tests.internal.TestSchemaProvider">
      </upgraders-provider>
   </extension>
</fragment>
