<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.user.hook.passwordvalidatorfactory">
      <passwordvalidatorfactory
            implementation="net.bluemind.custom.password.sizestrength.SizeStrengthPolicyFactory">
      </passwordvalidatorfactory>
   </extension>
   <extension
         point="net.bluemind.system.schemaupgrader.javacode">
      <java
            code="net.bluemind.custom.password.sizestrength.upgrader.MoveConfToGlobalSettings" date_yyyyMMdd="20200527" sequence="100">
      </java>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.custom.password.sizestrength.SizeStrengthGlobalSettingsSanitizer$factory">
      </sanitizerfactory>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.custom.password.sizestrength.SizeStrengthGlobalSettingsValidator$factory">
      </validatorfactory>
   </extension>

</plugin>
