<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.user.hook.passwordvalidatorfactory">
      <passwordvalidatorfactory
            implementation="net.bluemind.core.password.sizestrength.SizeStrengthPolicyFactory">
      </passwordvalidatorfactory>
   </extension>

</plugin>
