<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.mailmessage.mailtip" name="evaluation" schema="schema/net.bluemind.mailmessage.mailtip.exsd"/>

   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.mailmessage.service.MailMessageServiceFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.mailmessage.api.IMailTip">
      </endpoint>
   </extension>

</plugin>
