<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.mailbox.hook">
      <hook
            class="net.bluemind.index.mail.ESMailboxHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.backend.mail.replica.indexing.indexer">
      <indexer
            factory="net.bluemind.index.ElasticSearchRecordIndexerFactory">
      </indexer>
   </extension>
   <extension
         point="net.bluemind.mailindex.hook">
      <hook
            impl="net.bluemind.index.mail.RandomizedIndexSelectionPolicy"
            priority="1">
      </hook>
   </extension>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.index.ExpungeVerticleFactory">
      </verticle>
   </extension>

</plugin>
