<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension point="net.bluemind.webmodule">
            <web-module index="index.html" root="/cal">
                  <handler class="net.bluemind.webmodules.calendar.handlers.CalendarHandler" path="index.html">
                  </handler>
                  <handler class="net.bluemind.webmodules.calendar.handlers.CalendarHandler" path="iframe.html">
                  </handler>
                  <handler class="net.bluemind.webmodules.calendar.handlers.CalendarJspHandler" path="Calendar.jsp">
                  </handler>
                  <handler class="net.bluemind.webmodules.calendar.handlers.CalendarOfflineHandler" path="index-offline.html">
                  </handler>
                  <handler class="net.bluemind.webmodules.calendar.handlers.ImportICSHandler" path="calendar/import">
                  </handler>
                  <web-resource bundle="calendar">
                  </web-resource>
                  <handler class="net.bluemind.webmodules.calendar.handlers.ExportICSHandler" path="calendar/export">
                  </handler>
                  <handler class="net.bluemind.webmodules.calendar.handlers.PrintCalendarHandler" path="calendar/print">
                  </handler>
                  <handler class="net.bluemind.webmodule.server.handlers.LogHandler" path="log">
                  </handler>
            </web-module>
      </extension>
      <extension point="net.bluemind.ui.commons.banner">
            <banner-entry cssIcon="fa fa-lg fa-calendar" description="%banner-entry.description" name="%banner-entry.name" offline="true" priority="98" role="hasCalendar" root="/cal/">
            </banner-entry>
      </extension>
      <extension point="net.bluemind.webmodule.server">
            <web-filter class="net.bluemind.webmodules.calendar.filters.PublishCalendarFilter">
            </web-filter>
      </extension>
      <extension point="net.bluemind.webapp">
	      <application href="/webapp/calendar/" name="%banner-entry.name" priority="64" shortcut="true" role="hasCalendar" help="https://doc.bluemind.net/release/5.1/category/lagenda">
                  <icon>
                        <svg>
                        <![CDATA[
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M20 19H2V20H20V19Z" fill="#00AAEB"/>
                           <path d="M2 5H20V18H2V5ZM8.54 15.43C10.19 15.43 11.2 14.54 11.2 13.47C11.2 12.73 10.71 12.08 9.93 11.84C10.57 11.51 10.88 10.93 10.88 10.39C10.88 9.35001 9.94 8.67001 8.54 8.67001C7.96 8.67001 7.35 8.78001 6.82 8.98001L6.99 9.66001C7.5 9.51001 8 9.42001 8.5 9.42001C9.42 9.42001 10.01 9.81001 10.01 10.45C10.01 11.07 9.53 11.54 8.65 11.54H7.56V12.25H8.68C9.78 12.25 10.3 12.76 10.3 13.43C10.3 14.17 9.63 14.67 8.53 14.67C7.89 14.67 7.43 14.58 6.87 14.41L6.69 15.1C7.28 15.32 7.91 15.43 8.54 15.43ZM13.75 9.51999V15.33H14.63V8.76999H13.75L11.87 9.14999L12 9.83999L13.75 9.51999Z" fill="#00AAEB"/>
                           <path d="M6 4C6.55228 4 7 3.55228 7 3H15C15 3.55228 15.4477 4 16 4C16.5523 4 17 3.55228 17 3H20V6H2V3H5C5 3.55228 5.44772 4 6 4Z" fill="#00CBFF"/>
                        </svg>
                        ]]>
                        </svg>
                  </icon>
                  <description>%banner-entry.description</description>
                  <embed src="/cal/iframe.html" />
            </application>	    
      </extension>
</plugin>
