#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

JAVA_HOME := /usr/lib/jvm/bm-jdk

DEB_UPDATE_RCD_PARAMS_bm-locator := "defaults 61 01"

build:
	

install/bm-locator::
	cp -rf ${CURDIR}/ROOT/* ${CURDIR}/debian/bm-locator
