<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.announcement.provider.announcementprovider">
      <announcement_provider
            impl="net.bluemind.announcement.service.tests.AnnouncementProvider">
      </announcement_provider>
   </extension>

</plugin>
