[Unit]
Description=BlueMind xivobridge Server
ConditionPathExists=!/etc/bm/bm-xivobridge.disabled
After=bm-core.service
PartOf=bluemind.target

[Service]
Type=forking
Restart=no
TimeoutStartSec=90s
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=no
PIDFile=/var/run/bm-xivobridge.pid
SuccessExitStatus=129 143
ExecStart=/etc/init.d/bm-xivobridge start
ExecStop=/etc/init.d/bm-xivobridge stop

[Install]
WantedBy=bluemind.target
