Source: bluemind
Section: net
Priority: optional
Maintainer: Blue Mind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-xivobridge
Architecture: amd64
Depends: bm-jdk (= 17.0.4+8-bluemind9), bm-conf (= ${binary:Version})
Description: BlueMind XiVO bridge server
 BlueMind XiVO bridge sends cti events to BlueMind components
