<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.webmodule">
      <web-module-provider
            module="*">
         <web-resource
               bundle="net.bluemind.resource.closure">
         </web-resource>
         <js
               path="js/compile/net.bluemind.resource.closure.js">
         </js>
      </web-module-provider>
   </extension>

</plugin>
