<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.backend.mail.replica.api.IReplicatedMailboxesRootMgmt">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.replica.api.IReplicatedMailboxesMgmt">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.replica.api.IMailReplicaUids" 
            inline="true">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.api.IMailboxFolders">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.api.IMailboxFoldersByContainer">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.replica.api.IDbReplicatedMailboxes">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.replica.api.IDbByContainerReplicatedMailboxes">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.replica.api.IDbMessageBodies">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.api.IMailboxItems">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.replica.api.IDbMailboxRecords">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.replica.api.ICyrusReplicationArtifacts">
      </endpoint>
       <endpoint
            api="net.bluemind.backend.mail.replica.api.ICyrusReplicationAnnotations">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.api.IReadOnlyMailboxFolders">
      </endpoint>
      <endpoint
            api="net.bluemind.backend.mail.replica.api.IReplicatedDataExpiration">
      </endpoint>
       <endpoint
             api="net.bluemind.backend.mail.api.IOutbox">
       </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.ReplicatedMailboxesMgmtServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.ReplicatedMailboxesRootMgmtServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.DbReplicatedMailboxesServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.ImapReplicatedMailboxesServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.DbMessageBodiesServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.DbMailboxRecordsServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.ImapMailboxRecordsServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.CyrusArtifactsServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.CyrusAnnotationsServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.ImapByContainerReplicatedMailboxesServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.DbByContainerReplicatedMailboxesServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.ReadOnlyMailboxFolderServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.ReplicatedDataExpirationServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.backend.mail.replica.service.OutboxServiceFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.core.container.sharding.sharded">
      <container
            type="mailbox_records">
      </container>
      <container
            type="replicated_mailboxes">
      </container>
   </extension>
   <extension
         point="net.bluemind.mailbox.hook">
      <hook
            class="net.bluemind.backend.mail.replica.service.internal.hooks.MailboxSubtreeHook">
      </hook>
   </extension>
   
   <extension
         point="net.bluemind.core.rest.eventBusAccessRule">
      <access-rule
            class="net.bluemind.backend.mail.replica.service.internal.hooks.SessionMailsNotifRuleAccess">
      </access-rule>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.backend.mail.replica.service.internal.repair.MailboxSubtreesRepair$RepairFactory">
      </repairSupport>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.backend.mail.replica.service.internal.repair.ReplicationParentUidRepair$RepairFactory">
      </repairSupport>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.backend.mail.replica.service.internal.repair.MultiInboxRepair$RepairFactory">
      </repairSupport>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.backend.mail.replica.service.internal.repair.RecordsInDirectoryRepair$RepairFactory">
      </repairSupport>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.backend.mail.replica.service.internal.repair.MessageBodyRepair$RepairFactory">
      </repairSupport>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.backend.mail.replica.service.internal.repair.DefaultPartitionRepair$RepairFactory">
      </repairSupport>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.backend.mail.replica.service.internal.repair.ReApplyDeletionsRepair$RepairFactory">
      </repairSupport>
   </extension>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.backend.mail.replica.service.internal.ReplicatedDataExpirationTimerFactory">
      </verticle>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.backend.mail.replica.service.internal.repair.ReplicationDeletedMailboxRepair$ReplicationDeletedMailboxRepairFactory">
      </repairSupport>
   </extension>
   <extension
		 point="net.bluemind.core.rest.eventBusAccessRule">
      <access-rule
            class="net.bluemind.backend.mail.replica.service.MailboxRecordEventBusAccessRule">
      </access-rule>
  </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.backend.mail.replica.service.internal.repair.RenamedInboxRepair$RepairFactory">
      </repairSupport>
   </extension>
   <extension
         point="net.bluemind.core.caches.registry.registration">
      <reg
            impl="net.bluemind.backend.mail.replica.service.internal.CacheRegistration">
      </reg>
      <reg
            impl="net.bluemind.backend.mail.replica.service.internal.hooks.DeletedDataMementos$Registration">
      </reg>
   </extension>
</plugin>
