<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.videoconferencing.provider" name="provider" schema="schema/net.bluemind.videoconferencing.provider.exsd"/>
   <extension
         point="net.bluemind.domain.domainHook">
      <hook
            class="net.bluemind.videoconferencing.domain.DomainHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.videoconferencing.resourcetype.VideoConferencingResourceTypeSanitizer$VideoConferencingResourceTypeSanitizerFactory"></sanitizerfactory>
   </extension>
   <extension
         point="net.bluemind.resource.helper">
      <templatehelper
            impl="net.bluemind.videoconferencing.template.VideoConferencingTemplateHelper">
      </templatehelper>
   </extension>

</plugin>
