[Unit]
Description=BlueMind system configuration PIMP
PartOf=bluemind.target

[Service]
Type=oneshot
Environment="PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin"
Environment=JAVA_HOME=/usr/lib/jvm/bm-jdk
ExecStart=/usr/share/bm-pimp/bm-pimp
RemainAfterExit=yes
# 0 is the same as infinity, but "infinity" needs systemd 229
TimeoutStartSec=1h

[Install]
WantedBy=bluemind.target
