Source: bluemind
Section: net
Priority: optional
Maintainer: Blue Mind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-pimp
Architecture: amd64
Depends: bm-jdk (= 8u342-bluemind52)
Description: BlueMind automated memory tuning
 BlueMind automated memory tuning
