Source: bluemind
Section: net
Priority: optional
Maintainer: BlueMind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-cyrus
Architecture: amd64
Depends: bm-conf (= ${binary:Version}), bm-cyrus-imapd (= 3.0.13-bluemind291), bm-ysnp (= ${binary:Version}), bm-sds-proxy (= ${binary:Version}), sasl2-bin, libsasl2 | libsasl2-2, libsasl2-modules
Description: BlueMind Cyrus / SASL
 Configuration of Cyrus and SASL
