a.bcItem:after {
	border-bottom: 2em solid transparent;
	border-left: 2em solid rgb(99, 184,221);
	border-top: 2em solid transparent;
	content: " ";
	display: block;
	height: 0;
	left: 100%;
	margin-top: -2em;
	position: absolute;
	top: 50%;
	width: 0;
	z-index: 2;
}

a.bcItem:before {
	border-bottom: 2em solid transparent;
	border-left: 2em solid white;
	border-top: 2em solid transparent;
	content: " ";
	display: block;
	height: 0;
	left: 100%;
	margin-left: 2px;
	margin-top: -2em;
	position: absolute;
	top: 50%;
	width: 0;
	z-index: 1;
}

a.bcItem {
	background: none repeat scroll 0 0 rgb(99, 184,221);
	float: left;
	padding: 0 0 0 3em;
	position: relative;
	text-decoration: none;
	color: rgb(31, 78, 118);
	line-height: 2em;
}

a.bcItem:last-child {
	background: rgb(174, 222, 242) !important;
	pointer-events: none;
	cursor: default;
}

a.bcItem:last-child:after {
	border-left-color: rgb(174, 222, 242) !important;
}