<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.http.vertx.httpRoute">
      <route
            handler="net.bluemind.core.rest.http.TestHttpHandler"
            path="/route-test/binded">
      </route>
   </extension>
   <extension
         point="net.bluemind.core.rest.eventBusAccessRule">
      <access-rule
            class="net.bluemind.core.rest.http.SockAccessRuleForTests">
      </access-rule>
   </extension>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.core.rest.http.SockFakeAddressVerticle$Factory">
      </verticle>
   </extension>
</plugin>
