// Core colors

$white: #ffffff;
$black: #000000;

$gray-50: #f6f6f6;
$gray-100: #ededed;
$gray-200: #e5e5e5;
$gray-300: #c0c0c0;
$gray-400: #aaaaaa;
$gray-450: #949494;
$gray-500: #757575;
$gray-600: #535353;
$gray-700: #4a4a4a;
$gray-800: #3b3b3b;
$gray-900: #1f1f1f;

$blue-50: #e5f6ff;
$blue-100: #d1f1ff;
$blue-200: #c2ecff;
$blue-300: #89d0fb;
$blue-400: #62c0f9;
$blue-500: #0095fa;
$blue-600: #006dd0;
$blue-700: #0d3fab;
$blue-800: #0a2a86;
$blue-900: #001464;

$yellow-50: #fffbeb;
$yellow-100: #fff4d1;
$yellow-200: #ffeeb6;
$yellow-300: #f7de88;
$yellow-400: #ffc700;
$yellow-450: #e0a800;
$yellow-500: #d3b25f;
$yellow-600: #bd8a0a;
$yellow-700: #9b6d08;
$yellow-800: #704900;

$red-50: #fcf2f4;
$red-100: #ffe5e6;
$red-200: #ffdbde;
$red-300: #eca7af;
$red-400: #e68e98;
$red-500: #d53a4d;
$red-600: #b9272c;

$orange-50: #fef4ed;
$orange-100: #fdeadd;
$orange-200: #fce1cf;
$orange-300: #f7af7f;
$orange-400: #f6995a;
$orange-500: #f06100;
$orange-600: #db5900;

$green-50: #effbf4;
$green-100: #def7e8;
$green-200: #cef3dd;
$green-300: #8bdfac;
$green-400: #65d290;
$green-500: #40a166;
$green-600: #30784c;

$turquoise-50: #edfafb;
$turquoise-100: #dff6f9;
$turquoise-200: #caf2f6;
$turquoise-300: #68e5ee;
$turquoise-400: #3edeea;
$turquoise-500: #00b9ce;
$turquoise-600: #008594;

// Other colors

$blue-dark: #0a2a86;
$celery: #98b94c;
$cyan: #15c7ff;
$danube: #7c97c8;
$gray: #949494;
$green: #40a166;
$jaffa: #f2914e;
$lavender: #9e91c0;
$orange: #f06100;
$oslo: #818b90;
$pink: #e184ac;
$purple: #8d7db5;
$tapestry: #ba627a;
$teal: #20c997;
$turquoise: #00b9ce;
$venus: #ab95a0;
$yellow: #ffc700;
$yellow-light: #ffff00;
