@import "_colorPalette.scss";

:root {
    // Misc colors

    --surface: #{$white};
    --backdrop: #{$gray-100};
    --highest: #{$black};
    --lowest: #{$white};
    --modal-backdrop: #{rgba($black, 0.4)};
    --shadow-color: #{rgba($black, 0.25)};

    // Neutral variant colors

    --neutral-bg-hi1: #{$gray-200};
    --neutral-bg: #{$gray-100};
    --neutral-bg-lo1: #{rgba($gray-600, 0.05)};

    --neutral-fg-hi1: #{$gray-900};
    --neutral-fg: #{$gray-600};
    --neutral-fg-lo1: #{rgba($gray-600, 0.8)};
    --neutral-fg-lo2: #{rgba($gray-600, 0.4)};
    --neutral-fg-lo3: #{rgba($gray-600, 0.1)};
    --neutral-fg-disabled: var(--neutral-fg-lo2);

    --fill-neutral-bg-hi1: #{$gray-900};
    --fill-neutral-bg: #{$gray-600};
    --fill-neutral-bg-lo1: #{rgba($gray-600, 0.5)};
    --fill-neutral-bg-disabled: var(--fill-neutral-bg-lo1);

    --fill-neutral-fg-hi1: #{$blue-200};
    --fill-neutral-fg: #{$white};
    --fill-neutral-fg-lo1: #{rgba($white, 0.7)};
    --fill-neutral-fg-lo2: #{rgba($white, 0.4)};
    --fill-neutral-fg-disabled: var(--fill-neutral-fg-lo2);

    // Primary variant colors

    --primary-fg-hi1: #{$blue-800};
    --primary-fg: #{$blue-700};
    --primary-fg-lo1: #{rgba($blue-700, 0.35)};
    --primary-fg-lo2: #{rgba($blue-700, 0.15)};
    --primary-fg-disabled: var(--primary-fg-lo1);

    --fill-primary-bg-hi1: #{$blue-900};
    --fill-primary-bg: #{$blue-800};
    --fill-primary-bg-lo1: #{rgba($blue-800, 0.5)};
    --fill-primary-bg-disabled: var(--fill-primary-bg-lo1);

    --fill-primary-fg-hi1: #{$blue-400};
    --fill-primary-fg: #{$white};
    --fill-primary-fg-lo1: #{rgba($white, 0.7)};
    --fill-primary-fg-lo2: #{rgba($white, 0.4)};
    --fill-primary-fg-disabled: var(--fill-primary-fg-lo2);

    // Secondary variant colors

    --secondary-bg-hi1: #{$blue-200};
    --secondary-bg: #{$blue-100};
    --secondary-bg-lo1: #{rgba($blue-500, 0.08)};

    --secondary-fg-hi1: #{$blue-600};
    --secondary-fg: #{$blue-500};
    --secondary-fg-lo1: #{rgba($blue-500, 0.5)};
    --secondary-fg-lo2: #{rgba($blue-500, 0.2)};
    --secondary-fg-disabled: var(--secondary-fg-lo1);

    --fill-secondary-bg-hi1: #{$blue-600};
    --fill-secondary-bg: #{$blue-500};
    --fill-secondary-bg-lo1: #{rgba($blue-500, 0.5)};
    --fill-secondary-bg-disabled: var(--fill-secondary-bg-lo1);

    --fill-secondary-fg: #{$white};
    --fill-secondary-fg-lo1: #{rgba($white, 0.7)};
    --fill-secondary-fg-lo2: #{rgba($white, 0.4)};
    --fill-secondary-fg-disabled: var(--fill-secondary-fg-lo2);

    // Tertiary variant colors

    --tertiary-bg-hi1: #{$yellow-200};
    --tertiary-bg: #{$yellow-100};
    --tertiary-bg-lo1: #{rgba($yellow-400, 0.08)};

    --tertiary-fg-hi1: #{$yellow-700};
    --tertiary-fg: #{$yellow-600};
    --tertiary-fg-lo1: #{rgba($yellow-600, 0.5)};
    --tertiary-fg-lo2: #{rgba($yellow-600, 0.2)};
    --tertiary-fg-disabled: var(--tertiary-fg-lo1);

    --fill-tertiary-bg-hi1: #{$yellow-450};
    --fill-tertiary-bg: #{$yellow-400};
    --fill-tertiary-bg-lo1: #{rgba($yellow-400, 0.5)};
    --fill-tertiary-bg-disabled: var(--fill-tertiary-bg-lo1);

    --fill-tertiary-fg-hi1: #{$blue-700};
    --fill-tertiary-fg: #{$gray-900};
    --fill-tertiary-fg-lo1: #{rgba($gray-900, 0.5)};
    --fill-tertiary-fg-lo2: #{rgba($gray-900, 0.2)};
    --fill-tertiary-fg-disabled: var(--fill-tertiary-fg-lo2);

    // Danger variant colors

    --danger-bg-hi1: #{$red-200};
    --danger-bg: #{$red-100};
    --danger-bg-lo1: #{rgba($red-500, 0.08)};

    --danger-fg-hi1: #{$red-600};
    --danger-fg: #{$red-500};
    --danger-fg-lo1: #{rgba($red-500, 0.5)};
    --danger-fg-lo2: #{rgba($red-500, 0.2)};
    --danger-fg-disabled: var(--danger-fg-lo1);

    --fill-danger-bg-hi1: #{$red-600};
    --fill-danger-bg: #{$red-500};
    --fill-danger-bg-lo1: #{rgba($red-500, 0.5)};
    --fill-danger-bg-disabled: var(--fill-danger-bg-lo1);

    --fill-danger-fg: #{$white};
    --fill-danger-fg-lo1: #{rgba($white, 0.7)};
    --fill-danger-fg-lo2: #{rgba($white, 0.4)};
    --fill-danger-fg-disabled: var(--fill-danger-fg-lo2);

    // Warning variant colors

    --warning-bg-hi1: #{$orange-200};
    --warning-bg: #{$orange-100};
    --warning-bg-lo1: #{rgba($orange-500, 0.08)};

    --warning-fg-hi1: #{$orange-600};
    --warning-fg: #{$orange-500};
    --warning-fg-lo1: #{rgba($orange-500, 0.5)};
    --warning-fg-lo2: #{rgba($orange-500, 0.2)};
    --warning-fg-disabled: var(--warning-fg-lo1);

    --fill-warning-bg-hi1: #{$orange-600};
    --fill-warning-bg: #{$orange-500};
    --fill-warning-bg-lo1: #{rgba($orange-500, 0.5)};
    --fill-warning-bg-disabled: var(--fill-warning-bg-lo1);

    --fill-warning-fg: #{$white};
    --fill-warning-fg-lo1: #{rgba($white, 0.7)};
    --fill-warning-fg-lo2: #{rgba($white, 0.4)};
    --fill-warning-fg-disabled: var(--fill-warning-fg-lo2);

    // Success variant colors

    --success-bg-hi1: #{$green-200};
    --success-bg: #{$green-100};
    --success-bg-lo1: #{rgba($green-500, 0.08)};

    --success-fg-hi1: #{$green-600};
    --success-fg: #{$green-500};
    --success-fg-lo1: #{rgba($green-500, 0.5)};
    --success-fg-lo2: #{rgba($green-500, 0.2)};
    --success-fg-disabled: var(--success-fg-lo1);

    --fill-success-bg-hi1: #{$green-600};
    --fill-success-bg: #{$green-500};
    --fill-success-bg-lo1: #{rgba($green-500, 0.5)};
    --fill-success-bg-disabled: var(--fill-success-bg-lo1);

    --fill-success-fg: #{$white};
    --fill-success-fg-lo1: #{rgba($white, 0.7)};
    --fill-success-fg-lo2: #{rgba($white, 0.4)};
    --fill-success-fg-disabled: var(--fill-success-fg-lo2);

    // Info variant colors

    --info-bg-hi1: #{$turquoise-200};
    --info-bg: #{$turquoise-100};
    --info-bg-lo1: #{rgba($turquoise-500, 0.08)};

    --info-fg-hi1: #{$turquoise-600};
    --info-fg: #{$turquoise-500};
    --info-fg-lo1: #{rgba($turquoise-500, 0.5)};
    --info-fg-lo2: #{rgba($turquoise-500, 0.2)};
    --info-fg-disabled: var(--info-fg-lo1);

    --fill-info-bg-hi1: #{$turquoise-600};
    --fill-info-bg: #{$turquoise-500};
    --fill-info-bg-lo1: #{rgba($turquoise-500, 0.5)};
    --fill-info-bg-disabled: var(--fill-info-bg-lo1);

    --fill-info-fg: #{$white};
    --fill-info-fg-lo1: #{rgba($white, 0.7)};
    --fill-info-fg-lo2: #{rgba($white, 0.4)};
    --fill-info-fg-disabled: var(--fill-info-fg-lo2);
}
