@use "sass:map";

// Component size

.form-input-md {
    height: $input-height;
}
.form-input-sm {
    height: $input-height-sm;
}

// Core input border

.form-input.underline > .form-control {
    border-radius: 0;
    border-top-color: transparent !important; // keep it to simplify vertical padding management
    border-left: none;
    border-right: none;
}

.form-input {
    &:focus-within,
    &:focus,
    &.focus {
        > .form-control {
            border-width: 2 * $input-border-width;
        }
    }
}

// Paddings

$items-info: (
    "icon": (
        "width": map-get($icon-sizes, "md"),
        "selector": ".icon-wrapper"
    ),
    "reset": (
        "width": map-get($btn-close-sizes, "sm"),
        "selector": ".reset-btn"
    )
);

@mixin generate-paddings-for-root($underline, $padding-x) {
    @if $underline {
        .form-input.underline > .form-control {
            padding: 0 $padding-x !important;
        }
    } @else {
        .form-input:not(.underline) {
            > .form-control {
                padding: 0 $padding-x !important;
            }
            &:focus-within,
            &:focus,
            &.focus {
                > .form-control {
                    // compensate padding for thicker lateral border:
                    padding: 0 calc(#{$padding-x} - #{$input-border-width}) !important;
                }
            }
        }
    }
}

@mixin padding-in-form-control($value) {
    &.icon-left {
        padding-left: $value !important;
    }
    &:not(.icon-left) {
        padding-right: $value !important;
    }
}

@mixin generate-paddings-for($item, $underline, $padding-x, $spacing-x) {
    $offset: $padding-x + map-get($items-info, $item, "width") + $spacing-x;
    $root-selector: ".form-input" + if($underline, ".underline", ":not(.underline)");
    $control-selector: " > .form-control.with-" + $item;
    #{$root-selector} #{$control-selector} {
        @include padding-in-form-control($offset);
        @if not $underline {
            &:focus-within,
            &:focus,
            &.focus {
                // compensate padding for thicker lateral border:
                @include padding-in-form-control(calc(#{$offset} - #{$input-border-width}));
            }
        }
    }
}

@mixin generate-variant-paddings($underline, $padding-x, $spacing-x) {
    @include generate-paddings-for-root($underline, $padding-x);
    @each $item in "icon", "reset" {
        @include generate-paddings-for($item, $underline, $padding-x, $spacing-x);
    }
}

@include generate-variant-paddings($underline: false, $padding-x: $sp-5, $spacing-x: $sp-4);
@include generate-variant-paddings($underline: true, $padding-x: $sp-4, $spacing-x: $sp-4);

// Icon and reset button padding and margin

.form-input .icon-wrapper {
    display: flex;
    align-items: center;
    gap: $sp-3;
}

@each $selector, $margin-x in (":not(.underline)": $sp-5, ".underline": $sp-4) {
    .form-input#{$selector} {
        .icon-wrapper,
        .reset-btn {
            top: 0;
            bottom: 0;
            &:not(.icon-left) {
                left: auto;
                right: $margin-x;
                margin-left: $margin-x;
                margin-right: 0;
            }
            &.icon-left {
                left: $margin-x;
                right: auto;
                margin-left: 0;
                margin-right: $margin-x;
            }
        }
    }
}

// Colors

@mixin form-input-colors(
    $stroke,
    $hover-stroke,
    $focus-stroke: $secondary-fg,
    $icon: $stroke,
    $hover-icon: $hover-stroke,
    $focus-icon: $focus-stroke
) {
    > .form-control {
        color: $neutral-fg;
        border-color: $stroke;
        background-image: none !important;
        box-shadow: none !important;
        &::placeholder {
            color: $neutral-fg-lo1;
        }
    }
    .ornament-icon {
        color: $icon;
    }

    &:hover,
    &.hover {
        > .form-control {
            color: $neutral-fg-hi1;
            border-color: $hover-stroke;
        }
        .ornament-icon {
            color: $hover-icon;
        }
    }

    &:focus-within,
    &:focus,
    &.focus {
        > .form-control {
            color: $neutral-fg-hi1;
            border-color: $focus-stroke;
        }
        .ornament-icon {
            color: $focus-icon;
        }
    }

    &.disabled {
        > .form-control {
            color: $neutral-fg-lo1;
            border-color: $neutral-fg-disabled;
            &::placeholder {
                color: $neutral-fg-lo2;
            }
        }
        &:not(.underline) > .form-control {
            background-color: $neutral-bg-lo1;
        }
        &.underline > .form-control {
            border-color: transparent;
        }
        .ornament-icon {
            color: $neutral-fg-disabled;
        }
    }
}

.form-input {
    &:not(.underline) {
        @include form-input-colors($neutral-fg-lo1, $neutral-fg-hi1, $icon: $neutral-fg);
    }
    &.underline {
        @include form-input-colors($neutral-fg-lo2, $neutral-fg, $icon: $neutral-fg, $hover-icon: $neutral-fg-hi1);
    }
}

.form-input.is-invalid {
    @include form-input-colors($danger-fg, $danger-fg-hi1, $danger-fg-hi1);
}

.form-input.is-valid {
    @include form-input-colors($success-fg, $success-fg-hi1);
}

// Form group

.form-group label {
    @include regular;
    text-align: start;
    margin-bottom: $sp-2;
}

.form-input {
    & ~ small,
    & ~ .invalid-feedback,
    & ~ .valid-feedback {
        @include caption;
        text-align: start;
        margin-top: $sp-3;
    }

    & ~ .invalid-feedback {
        color: $danger-fg;
    }
    & ~ .valid-feedback {
        color: $success-fg;
    }
}
