.table.bm-table {
    width: 100%;
    margin-bottom: $spacer;

    th,
    td {
        color: $table-color;
        white-space: normal;
        border: none !important;
        vertical-align: top;
        padding: 0;
        padding-left: $sp-3;
        &:first-child {
            padding-left: $sp-5 + $sp-3;
        }
        &:last-child {
            padding-right: $sp-5;
        }
    }
    tr {
        border-bottom: $table-border-width solid $table-border-color;
    }
    thead th {
        color: $table-head-color;
        @include caption-bold;
        vertical-align: bottom;
        &.b-table-sort-icon-left {
            background-image: none !important;
            padding-left: 0 !important;
            &:first-child {
                padding-left: $sp-5 !important;
            }
        }
    }

    &.table-striped tbody tr:nth-of-type(#{$table-striped-order}) {
        background-color: $table-accent-bg;
    }
    &.table-striped tfoot .striped {
        background-color: $table-accent-bg;
    }

    &.table-hover {
        tbody tr {
            @include hover() {
                color: $table-hover-color;
                background-color: $table-hover-bg;
            }
        }
    }

    &.fixed-row-height {
        th {
            $inner-height: $line-height-caption + 2 * ($sp-4 + $sp-1);
            height: calc(#{$inner-height} + #{$table-border-width});
        }
        td {
            $inner-height: $line-height-high + 2 * $sp-4;
            height: calc(#{$inner-height} + #{$table-border-width});
        }
        th,
        td {
            padding-top: $table-border-width;
            vertical-align: middle;
        }
    }
}
