@import "utils/responsiveness";
@import "utils/typography";

h1,
.h1 {
    @include h1;
}

h2,
.h2 {
    @include h2;
}

h3,
.h3 {
    @include h3;
}

.title {
    @include title;
}

.regular {
    @include regular;
}

.medium {
    @include regular-medium;
}

body,
.high {
    @include regular-high;
}

.bold {
    @include bold;
}

b.medium,
.bold.medium,
.bold-medium {
    @include bold-medium;
}

.italic {
    @include italic;
}

.large {
    @include large;
}

.large b,
.large.bold,
.large-bold {
    @include large-bold;
}

caption,
.caption {
    @include caption;
}

caption b,
.caption b,
.caption.bold,
.caption-bold {
    @include caption-bold;
}

caption i,
.caption i,
.caption.italic,
.caption-italic {
    @include caption-italic;
}

hr {
    border: 0;
    border-top: $hr-border-width solid $hr-border-color;
}

mark,
.mark {
    padding: $mark-padding;
    background-color: $mark-bg;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.blockquote {
    margin-bottom: $spacer;
}

.blockquote-footer {
    display: block;
    @include caption;
    color: $blockquote-small-color;
    margin-top: $sp-2;

    &::before {
        content: "\2014\00A0"; // em dash, nbsp
    }
}
