<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension point="net.bluemind.webmodule">
            <web-module-provider module="/visio">
                  <web-resource bundle="net.bluemind.videoconferencing.saas.js">
                  </web-resource>
                  <js async-loading="false" translation="false" path="js/net.bluemind.videoconferencing.saas.js">
                  </js>
            </web-module-provider>
            <web-module-provider module="/visio">
                  <web-resource bundle="net.bluemind.webapp.root.js">
                  </web-resource>
                  <js async-loading="false" translation="false" path="js/net.bluemind.webapp.root.js">
                  </js>
            </web-module-provider>
      </extension>
</plugin>
