<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
  <property name="DEFAULT_PATTERN"
    value="%date{ISO8601, ${net.bluemind.property.system.timezone:-GMT}} [%thread] %c{1} %p - %m%n" />

  <!-- Sentry send exceptions -->
  <appender name="Sentry" class="io.sentry.logback.SentryAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>
  <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>/var/log/bm-milter/milter.log</File>
    <encoder>
      <pattern>${DEFAULT_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>20</maxIndex>
      <FileNamePattern>/var/log/bm-milter/milter.log.%i.gz</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>15000KB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <logger name="org.apache.directory.shared" level="ERROR" />
  <root level="INFO">
    <appender-ref ref="R"/>
    <appender-ref ref="Sentry"/>
  </root>
</configuration>
