
.container img {
	visibility: hidden;
	cursor: pointer;
	margin-left: 7px;
}

.container:hover img, .container.inedit img {
	visibility: visible;
}

.container input {
	border: 1px solid #FFF;
	width: 30em;
}

.container:hover input, .container.inedit input {
	border: 1px solid #CCC;
}

