<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.backup.continuous.store">
      <store
            impl="net.bluemind.core.backup.store.kafka.KafkaTopicStore"
            priority="200">
      </store>
   </extension>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.core.backup.store.kafka.metrics.KafkaPublishMetricsFactory">
      </verticle>
      <verticle
            impl="net.bluemind.core.backup.store.kafka.metrics.KafkaAccuMetricsFactory">
      </verticle>
   </extension>

</plugin>
