<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.user.api.IUser">
      </endpoint>
      <endpoint
            api="net.bluemind.user.api.IUserSettings">
      </endpoint>
      <endpoint
            api="net.bluemind.user.api.IUserMailIdentities">
      </endpoint>
      <endpoint
            api="net.bluemind.user.api.IUserSubscription">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.authentication.provider.authprovider">
      <auth_provider
            impl="net.bluemind.user.service.internal.DatabaseAuthProvider"></auth_provider>
   </extension>
   <extension
         point="net.bluemind.authentication.provider.authprovider">
      <auth_provider
            impl="net.bluemind.user.service.internal.TokenAuthProvider">
      </auth_provider>
   </extension>
   <extension
         point="net.bluemind.authentication.provider.authprovider">
      <auth_provider
            impl="net.bluemind.user.service.internal.APIKeyAuthProvider">
      </auth_provider>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.user.service.UserSettingsServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.user.service.InCoreUserServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.user.service.UserMailIdentitiesFactory"></serviceFactory>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.user.service.UserServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.user.service.UserSubscriptionFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.directory.handler">
      <handler
            class="net.bluemind.user.service.internal.UserDirEntryHandler">
      </handler>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.user.service.internal.UserSanitizerFactory">
      </sanitizerfactory>
   </extension>
   
   
   
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.user.service.internal.UserValidatorFactory">
      </validatorfactory>
   </extension>
   <extension
         point="net.bluemind.mailbox.hook">
      <hook
            class="net.bluemind.user.service.internal.UserMailIdentitiesHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.core.container.hooks.aclhook">
      <acl_hook
            impl="net.bluemind.user.service.internal.UserMailIdentitiesHook">
      </acl_hook>
   </extension>
   <extension
         point="net.bluemind.user.hook.userhook">
      <hook
            impl="net.bluemind.user.service.internal.MaxUsersHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.user.hook.passwordvalidatorfactory">
      <passwordvalidatorfactory
            implementation="net.bluemind.user.service.internal.UserPasswordValidatorFactory"></passwordvalidatorfactory>
   </extension>
   <extension
         point="net.bluemind.user.hook.userhook">
     <hook
            impl="net.bluemind.user.service.internal.UserRoutingHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.user.service.internal.UserEmailSanitizer$Factory">
      </sanitizerfactory>
   </extension>
   <extension
         point="net.bluemind.user.passwordupdater">
      <password_updater
            impl="net.bluemind.user.service.internal.DatabasePasswordUpdater"
            priority="0">
      </password_updater>
   </extension>
   <extension
         point="net.bluemind.core.container.repair">
      <repair
            impl="net.bluemind.user.service.internal.DeferredActionUserRepair">
      </repair>
   </extension>
</plugin>
