<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.server.hook.serverhook">
      <hook
            impl="net.bluemind.server.node.hook.NodeHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.system.schemaupgrader.javacode">
      <java
            code="net.bluemind.server.node.hook.update.WhoAmIUpgrade">
      </java>
   </extension>

</plugin>
