<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.videoconferencing.provider">
      <provider
            impl="net.bluemind.videoconferencing.webex.WebexProvider">
      </provider>
   </extension>
   <extension
         point="net.bluemind.system.external_systems">
      <system
            impl="net.bluemind.videoconferencing.webex.WebexSystem" 
            priority="102">
      </system>
   </extension>
   <extension
         point="net.bluemind.calendar.hook">
      <hook
            impl="net.bluemind.videoconferencing.webex.WebexResourceCalendarHook"
            priority="1">
      </hook>
   </extension>

</plugin>
