{namespace net.bluemin.ui.banner.template}

/**
 * HTML widget
 */
{template .widget}
 <a class="fa fa-lg fa-phone banner-dialer"  title="{msg meaning="banner.dialer" desc="Dialer link in banner"}Dialer{/msg}"></a>
{/template}
