<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.server.api.IServer">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.server.service.ServerServiceFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.domain.domainHook">
      <hook
            class="net.bluemind.server.service.internal.ServerDomainHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.server.hook.serverhook">
      <hook
            impl="net.bluemind.server.service.internal.CheckServerAvailability">
      </hook>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.server.service.internal.ServerSanitizerFactory">
      </sanitizerfactory>
   </extension>

</plugin>
