<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.core.task.api.ITask">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.core.task.service.internal.TasksManagerFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.core.task.service.internal.TaskServiceFactory">
      </serviceFactory>
   </extension>

</plugin>
