<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.addressbook.api.IAddressBook">
      </endpoint>
         <endpoint
               api="net.bluemind.addressbook.api.IAddressBooks">
      </endpoint>
         <endpoint
               api="net.bluemind.addressbook.api.IVCardService">
         </endpoint>
         <endpoint
               api="net.bluemind.addressbook.api.IAddressBooksMgmt">
         </endpoint>      
         <endpoint
               api="net.bluemind.addressbook.api.IAddressBookUids"
               inline="true">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.addressbook.service.AddressBookServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.addressbook.service.VCardServiceFactory"></serviceFactory>
      <serviceFactory
            class="net.bluemind.addressbook.service.AddressBooksServiceFactory"></serviceFactory>
      <serviceFactory
            class="net.bluemind.addressbook.service.AddressBooksMgmtFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.addressbook.service.InCoreAddressBooksMgmtFactory"></serviceFactory>
      <serviceFactory
            class="net.bluemind.addressbook.service.InCoreAddressBookFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.tag.eventConsumer">
      <consumer
            class="net.bluemind.addressbook.service.internal.TagEventConsumer">
      </consumer>
   </extension>
   <extension
         point="net.bluemind.directory.handler">
      <handler
            class="net.bluemind.addressbook.service.internal.DomainABDirEntryHandler">
      </handler>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.addressbook.service.internal.VCardSanitizer$Factory">
      </sanitizerfactory>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.addressbook.service.internal.VCardValidator$Factory">
      </validatorfactory>
   </extension>
   <extension
         point="net.bluemind.core.rest.eventBusAccessRule">
      <access-rule
            class="net.bluemind.addressbook.service.ABEventBusAccessRule">
      </access-rule>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.addressbook.service.internal.AddressBookDescriptorSanitizer$Factory"></sanitizerfactory>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.addressbook.service.internal.AddressBookDescriptorValidator$Factory"></validatorfactory>
   </extension>
   <extension
         point="net.bluemind.core.container.sharding.sharded">
      <container
            type="addressbook">
      </container>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.addressbook.service.internal.DomainBookRepairSupport$Factory">
      </repairSupport>
   </extension>

</plugin>
