<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.bluemind.eas.backend">
      <backend
            implementation="net.bluemind.eas.backend.bm.BackendFactory">
      </backend>
   </extension>
   <extension
         point="net.bluemind.eas.search">
      <search
            implementation="net.bluemind.eas.backend.bm.search.BmSearchContact">
      </search>
   </extension>
   <extension
         point="net.bluemind.eas.search">
      <search
            implementation="net.bluemind.eas.backend.bm.search.BmSearchMailbox">
      </search>
   </extension>
   <extension
         point="net.bluemind.eas.partnership.provider">
      <provider
            impl="net.bluemind.eas.backend.bm.partnership.PartnershipProvider">
      </provider>
   </extension>

</plugin>
