[Unit]
Description=BlueMind Node Server
ConditionPathExists=!/etc/bm/bm-node.disabled
After=bm-pimp.service
PartOf=bluemind.target

[Service]
Type=notify
WorkingDirectory=/var/log
TimeoutStartSec=90s
GuessMainPID=no
RemainAfterExit=no
SuccessExitStatus=129 143
Environment=JAVA_HOME=/usr/lib/jvm/bm-jdk
ExecStart=/usr/share/bm-node/bm-node /var/run/bm-node.pid

[Install]
WantedBy=bluemind.target
