Source: bluemind
Section: net
Priority: optional
Maintainer: Blue Mind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-plugin-webserver-devfilter
Architecture: amd64
Depends: bm-webserver
Description: BlueMind dev package


