Source: bluemind
Section: net
Priority: optional
Maintainer: BlueMind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-webmail
Architecture: amd64
Depends: bm-postgresql (= 12.7-bluemind163), bm-nginx (= 1.20.1-bluemind100), bm-php (= 5.6.40-bluemind98), tzdata, memcached
Description: BlueMind webmail (Roundcube)
 BlueMind webmail (Roundcube: http://roundcube.net/)
