Source: bluemind
Section: net
Priority: optional
Maintainer: BlueMind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-webmail
Architecture: amd64
Depends: bm-postgresql (= 14.2-bluemind184), bm-nginx (= 1.20.1-bluemind101), bm-php (= 5.6.40-bluemind104), tzdata, memcached
Description: BlueMind webmail (Roundcube)
 BlueMind webmail (Roundcube: http://roundcube.net/)
