<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<!-- converts vertx ContextualData to Logback -->
	<conversionRule conversionWord="vcl" converterClass="net.bluemind.common.logback.ContextLoggingConverter"/>

	<property name="DEFAULT_PATTERN"
		value="%date{ISO8601, ${net.bluemind.property.system.timezone:-GMT}} [%thread] [%vcl{endpoint:-none}] %c{1} %p - %m%n" />
	<variable name="endpoint" value="%vcl{endpoint:-none}" scope="context"/>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- Sentry send exceptions -->
	<appender name="Sentry" class="io.sentry.logback.SentryAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>


	<appender name="R"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<File>/var/log/bm/core.log</File>
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/var/log/bm/core.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<!-- keep 60 days of history capped at 1.2GB total size -->
			<maxHistory>60</maxHistory>
			<MaxFileSize>60MB</MaxFileSize>
			<totalSizeCap>1200MB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<logger name="org.apache.kafka.clients" level="WARN" />
	<logger name="org.apache.kafka.common" level="WARN" />

	<logger name="org.apache.directory.shared" level="ERROR" />
	<logger name="org.apache.directory.ldap.client.api.LdapNetworkConnection" level="ERROR" />
	<logger name="com.netflix.hollow.core.read.engine.HollowBlobReader" level="WARN" />
	<logger name="com.netflix.hollow.api.producer.AbstractHollowProducer" level="WARN" />

	<!-- log XMPP -->
	<appender name="XMPP" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/bm/xmpp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/var/log/bm/xmpp.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxFileSize>60MB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="net.bluemind.xmpp" level="INFO" additivity="false">
		<appender-ref ref="XMPP" />
	</logger>

	<!-- log mailindex -->
	<appender name="MailIndex" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/bm/mail-index.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/var/log/bm/mail-index.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxFileSize>60MB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="net.bluemind.index.mail" level="INFO" additivity="false">
		<appender-ref ref="MailIndex" />
	</logger>
	<logger name="net.bluemind.tika.client" level="INFO" additivity="false">
		<appender-ref ref="MailIndex" />
	</logger>
	
	<!-- log call -->
	<appender name="SlowRestCall" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/bm/slow-call.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/var/log/bm/slow-call.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxFileSize>60MB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="net.bluemind.core.rest.log.CallLogger" level="WARN" additivity="false">
		<appender-ref ref="SlowRestCall" />
	</logger>

	<!-- RestSockJsProxyHandler -->
	<appender name="RestSockJsProxyHandler" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/bm/js.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/var/log/bm/js.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxFileSize>60MB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="net.bluemind.core.rest.sockjs.vertx.RestSockJsProxyHandler" level="INFO" additivity="false">
		<appender-ref ref="RestSockJsProxyHandler" />
	</logger>

	<!-- SendmailHandler -->
	<appender name="SendmailHandler" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/bm/sendmail.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/var/log/bm/sendmail.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxFileSize>60MB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="net.bluemind.core.sendmail" level="INFO" additivity="false">
		<appender-ref ref="SendmailHandler" />
	</logger>
	
	<appender name="IMAP" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="net.bluemind.common.logback.EndpointFilter">
			<endpoint>imap</endpoint>
		</filter>
		<file>/var/log/bm/imap.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/var/log/bm/imap.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- imap commands: not usefull in core -->
	<logger name="net.bluemind.imap.endpoint" level="INFO" additivity="false">
		<appender-ref ref="IMAP"/>
	</logger>

	<appender name="POP3" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="net.bluemind.common.logback.EndpointFilter">
			<endpoint>pop3</endpoint>
		</filter>
		<file>/var/log/bm/pop3.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/var/log/bm/pop3.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="net.bluemind.pop3.endpoint" level="INFO" additivity="false">
		<appender-ref ref="POP3"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="R" />
		<appender-ref ref="Sentry" />
		<appender-ref ref="IMAP" />
		<appender-ref ref="POP3" />
	</root>

</configuration>
