<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

	<appender name="R"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<File>/var/log/bm/core.log</File>
		<encoder>
			<pattern>%d [%thread] %c{1} %p - %m\n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>20</maxIndex>
			<FileNamePattern>/var/log/bm/core.log.%i.gz</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>60000KB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="org.apache.directory.shared" level="ERROR" />
	<logger name="org.apache.directory.ldap.client.api.LdapNetworkConnection" level="ERROR" />
	<root level="INFO">
		<appender-ref ref="R" />
	</root>

	<!-- log XMPP -->
	<appender name="XMPP"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/var/log/bm/xmpp.log</File>
		<encoder>
			<pattern>%d [%thread] %c{1} %p - %m\n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>20</maxIndex>
			<FileNamePattern>/var/log/bm/xmpp.log.%i.gz</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>60000KB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="net.bluemind.xmpp" level="INFO" additivity="false">
		<appender-ref ref="XMPP" />
	</logger>

	<!-- log mailindex -->
	<appender name="MailIndex"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/var/log/bm/mail-index.log</File>
		<encoder>
			<pattern>%d [%thread] %c{1} %p - %m\n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>20</maxIndex>
			<FileNamePattern>/var/log/bm/mail-index.log.%i.gz</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>60000KB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="net.bluemind.index.mail" level="INFO" additivity="false">
		<appender-ref ref="MailIndex" />
	</logger>
	
	<!-- Cyrus Replication -->
	<appender name="Replication"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/var/log/bm/replication.log</File>
		<encoder>
			<pattern>%d [%thread] %c{1} %p - %m\n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/bm/replication.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
			<maxHistory>7</maxHistory>
			<totalSizeCap>250MB</totalSizeCap>
	</rollingPolicy>
	</appender>
	<appender name="AsyncRepl" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>500</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="Replication" />
	</appender>  
	<logger name="net.bluemind.backend.cyrus.replication.server" level="INFO" additivity="false">
		<appender-ref ref="AsyncRepl" />
	</logger>
	<logger name="net.bluemind.backend.mail.replica" level="INFO" additivity="false">
		<appender-ref ref="AsyncRepl" />
	</logger>

	<!-- log call -->
	<appender name="SlowRestCall"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/var/log/bm/slow-call.log</File>
		<encoder>
			<pattern>%d [%thread] %c{1} %p - %m\n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>20</maxIndex>
			<FileNamePattern>/var/log/bm/slow-call.log.%i.gz</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>60000KB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="net.bluemind.core.rest.log.CallLogger" level="WARN" additivity="false">
		<appender-ref ref="SlowRestCall" />
	</logger>

	<!-- RestSockJsProxyHandler -->
	<appender name="RestSockJsProxyHandler"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/var/log/bm/js.log</File>
		<encoder>
			<pattern>%d [%thread] %c{1} %p - %m\n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>20</maxIndex>
			<FileNamePattern>/var/log/bm/js.log.%i.gz</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>60000KB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="net.bluemind.core.rest.sockjs.vertx.RestSockJsProxyHandler" level="INFO" additivity="false">
		<appender-ref ref="RestSockJsProxyHandler" />
	</logger>

 	<!-- SendmailHandler -->
	<appender name="SendmailHandler"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/var/log/bm/sendmail.log</File>
		<encoder>
			<pattern>%d [%thread] %c{1} %p - %m\n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>20</maxIndex>
			<FileNamePattern>/var/log/bm/sendmail.log.%i.gz</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>60000KB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="net.bluemind.core.sendmail" level="INFO" additivity="false">
		<appender-ref ref="SendmailHandler" />
	</logger>
</configuration>
