<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="tika"
         name="Tika Server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.bluemind.tika.server.TikaServer">
         </run>
      </application>
   </extension>
   <extension
         id="tika"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bluemind.tika.server.tika"
            name="tika">
         <property
               name="appName"
               value="tika">
         </property>
      </product>
   </extension>

</plugin>
