<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.core.container.service.changelogrenderer" name="changelogrenderer" schema="schema/net.bluemind.core.container.service.changelogrenderer.exsd"/>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.core.container.api.IContainers">
      </endpoint>
      <endpoint
            api="net.bluemind.core.container.api.IFlatHierarchyUids" 
            inline="true">
      </endpoint>
      <endpoint
            api="net.bluemind.core.container.api.IOwnerSubscriptionUids" 
            inline="true">
      </endpoint>
      <endpoint
            api="net.bluemind.core.container.api.IContainerManagement">
      </endpoint>
      <endpoint
            api="net.bluemind.core.container.api.IContainerSync">
      </endpoint>
      <endpoint
            api="net.bluemind.core.container.api.IContainersFlatHierarchy">
      </endpoint>
      <endpoint
            api="net.bluemind.core.container.api.IOwnerSubscriptions">
      </endpoint>
      <endpoint
            api="net.bluemind.core.container.api.IOfflineMgmt">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.core.container.service.ContainerManagementFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.core.container.service.InternalContainerManagementFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.core.container.service.ContainersFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.core.container.service.ContainerSyncFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.core.container.service.InternalContainerSyncFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.core.container.service.InternalContainersHierarchyFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.core.container.service.InternalContainersHierarchyMgmtFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.core.container.service.ContainersHierarchyServiceFactory">
      </serviceFactory>
      
      <serviceFactory
            class="net.bluemind.core.container.service.InternalOwnerSubscriptionsFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.core.container.service.InternalOwnerSubscriptionsMgmtFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.core.container.service.OwnerSubscriptionsServiceFactory">
      </serviceFactory>
      
      <serviceFactory
            class="net.bluemind.core.container.service.OfflineMgmtFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.core.container.sharding.sharded">
      <container
            type="container_flat_hierarchy">
      </container>
      <container
            type="owner_subscriptions">
      </container>
   </extension>
   <extension
         point="net.bluemind.core.rest.eventBusAccessRule">
      <access-rule
            class="net.bluemind.core.container.service.OwnerSubscriptionEventBusAccessRule">
      </access-rule>
   </extension>
</plugin>
