Source: bluemind
Section: net
Priority: optional
Maintainer: BlueMind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-tick-full
Architecture: amd64
Depends: bm-node (= ${binary:Version}), bm-tick-node (= ${binary:Version}), bm-chronograf (= 1.8.9.1.bm1~d5bd22de3), bm-kapacitor (= 1.5.7.bm1~f52824ca-0), bm-influxdb (= 1.8.3.bm1~247d383a3)
Description: BlueMind TICK stack
 Installs TICK monitoring stack for BlueMind

Package: influxdb
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: chronograf
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: kapacitor
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
