Source: bluemind
Section: net
Priority: optional
Maintainer: BlueMind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-tick-full
Architecture: amd64
Depends: bm-node (= ${binary:Version}), bm-tick-node (= ${binary:Version}), bm-chronograf (= 1.10.1.bm3~34148c7f5), bm-kapacitor (= 1.6.5.bm3~7eb3e20a-0), bm-influxdb (= 1.8.10.bm3~247d383a3)
Description: BlueMind TICK stack
 Installs TICK monitoring stack for BlueMind

Package: influxdb
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: chronograf
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: kapacitor
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
