[Unit]
Description=BlueMind HPS Server
ConditionPathExists=!/etc/bm/bm-hps.disabled
After=bm-core.service
PartOf=bluemind.target

[Service]
Type=notify
WorkingDirectory=/var/log
TimeoutStartSec=90s
GuessMainPID=no
RemainAfterExit=no
SuccessExitStatus=129 143
Environment="PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin"
Environment=JAVA_HOME=/usr/lib/jvm/bm-jdk
ExecStart=/usr/share/bm-hps/bm-hps /var/run/bm-hps.pid

[Install]
WantedBy=bluemind.target
