{namespace net.bluemind.ui.samples.adminconsole.userscreen.template}

/**
 * Main
 */
{template .main}
	<table class="formContainer">
		<tr class="setting">
			<td class="label"><div class="gwt-Label">Extension ("lang as text")</div></td>
			<td class="form"><input class="myinput" /></td>
		</tr>
	</table>
{/template}
