<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.webmodule.server">
      <web-filter
            class="net.bluemind.webmodule.maintenance.MaintenanceFilter">
      </web-filter>
   </extension>
   <extension
         point="net.bluemind.system.state">
      <state-listener
            class="net.bluemind.webmodule.maintenance.internal.CoreStateListener">
      </state-listener>
   </extension>

</plugin>
