<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.ui.calendar.calendarType" name="Calendar type extensionPoint" schema="schema/net.bluemind.ui.calendar.calendarType.exsd"/>
   <extension
         point="net.bluemind.ui.calendar.calendarType">
      <calendar-type
            label="%calendar-type.simple.label"
            actions-widget="bm.calendar.InternalCalendarActions"
            create-widget="bm.calendar.InternalCalendarCreation"
            type="internal">
      </calendar-type>
   </extension>
   <extension
         point="net.bluemind.ui.calendar.calendarType">
      <calendar-type
      		label="%calendar-type.external.label"
            actions-widget="bm.calendar.ExternalIcsCalendarActions"
            create-widget="bm.calendar.ExternalIcsCalendarCreation"
            type="externalIcs">
      </calendar-type>
   </extension>
   <extension
         point="net.bluemind.extensions">
      <export-extension-point
            id="net.bluemind.ui.calendar.calendarType">
      </export-extension-point>
   </extension>
   <extension
         point="net.bluemind.webmodule">
      <web-module-provider
            module="*">
         <handler
               class="net.bluemind.ui.gwtcalendar.server.IcsUrlCheckHandler"
               path="calendar/checkIcs">
         </handler>
      </web-module-provider>
   </extension>
   
     <extension
         point="net.bluemind.webmodule">
      <web-module-provider
            module="/adminconsole">
         <handler
               class="net.bluemind.ui.gwtcalendar.server.ImportICSHandler"
               path="calendar/import">
         </handler>
      </web-module-provider>
   </extension>
   
</plugin>
