<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.mailbox.identity.api.IMailboxIdentity">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.mailbox.identity.service.MailboxIdentityServiceFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.mailbox.identity.service.repair.DefaultIdentityRepair$RepairFactory">
      </repairSupport>
   </extension>

</plugin>
