<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.webappdata.api.IWebAppData">
      </endpoint>
      <endpoint
            api="net.bluemind.webappdata.api.IWebAppDataUids" 
            inline="true">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.user.hook.userhook">
      <hook
            impl="net.bluemind.webappdata.service.internal.WebAppDataUserHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.webappdata.service.WebAppDataServiceFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.core.container.repair">
      <repair
            impl="net.bluemind.webappdata.service.internal.WebAppDataRepair">
      </repair>
   </extension>
   <extension
         point="net.bluemind.core.container.sharding.sharded">
      <container
            type="webappdata">
      </container>
   </extension>
</plugin>
