Source: bluemind
Section: net
Priority: optional
Maintainer: Blue Mind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-forest-node
Architecture: amd64
Depends: bm-jdk (= 11.0.15+10-bluemind5), bm-kafka (= 3.1.0-bluemind21)
Description: BlueMind forest node
 BlueMind forest node is used to federate multiple bluemind installations
