Source: bluemind
Section: net
Priority: optional
Maintainer: Blue Mind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-forest-node
Architecture: amd64
Depends: bm-jdk (= 8u232-bluemind31), bm-kafka (= 2.3.0-bluemind7)
Description: BlueMind forest node
 BlueMind forest node is used to federate multiple bluemind installations
