<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="dummy-schema"
         name="dummy-schema"
         point="net.bluemind.core.jdbc.schema">
      <schema
            ignoreErrors="false"
            name="dummy-schema"
            resource="sql/dummy-schema-1.0.0.sql">
      </schema>
   </extension>

</plugin>
