Source: bluemind
Section: net
Priority: optional
Maintainer: BlueMind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-postfix
Architecture: amd64
Depends: postfix, bm-milter
Conflicts: ssmtp
Replaces: ssmtp
Description: BlueMind Postfix
 Configuration of Postfix
