<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.notes.api.INote">
      </endpoint>
      <endpoint
            api="net.bluemind.notes.api.INotes">
      </endpoint>
      <endpoint
            api="net.bluemind.notes.api.INoteUids"
            inline="true">
      </endpoint>
      <endpoint
            api="net.bluemind.notes.api.INoteIndexMgmt">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.container.sharding.sharded">
      <container
            type="notes">
      </container>
   </extension>
   <extension
         point="net.bluemind.tag.eventConsumer">
      <consumer
            class="net.bluemind.notes.service.internal.TagEventConsumer">
      </consumer>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.notes.service.NoteServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.notes.service.NoteMgmtServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.notes.service.NoteMgmtIndexFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.notes.service.NotesServiceFactory">
      </serviceFactory>
   </extension>
    <extension
         point="net.bluemind.core.rest.eventBusAccessRule">
      <access-rule
            class="net.bluemind.notes.service.NoteEventBusAccessRule">
      </access-rule>
   </extension>
</plugin>
