<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.webmodule">
      <web-module-provider
            module="*">
         <web-resource
               bundle="net.bluemind.ui.resources">
         </web-resource>
      </web-module-provider>
   </extension>
</plugin>
