<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.dataprotect.service.backupworker">
      <backup_worker
            impl="net.bluemind.dataprotect.postgresql.PgWorker">
      </backup_worker>
   </extension>

   <extension
         point="net.bluemind.dataprotect.service.backupworker">
            <backup_worker
            impl="net.bluemind.dataprotect.postgresql.PgWorkerBmData">
      </backup_worker>
   </extension>
</plugin>
