Source: bluemind
Section: net
Priority: optional
Maintainer: Blue Mind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-plugin-webserver-filehosting
Architecture: amd64
Depends: bm-webserver (= ${binary:Version})
Description: Public Filehosting integration for BlueMind 
 
