<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.jdbc.schema">
      <schema
            name="eas-schema"
            resource="sql/eas-schema.1.0.0.sql">
		<compose
               id="device-schema">
         </compose>
      </schema>
   </extension>

</plugin>
