<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.deferredaction.registry.executor" name="executor" schema="schema/net.bluemind.deferredaction.executor.exsd"/>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.deferredaction.registry.DeferredActionExecutionFactory">
      </verticle>
   </extension>

</plugin>
