#!/usr/bin/make -f



include /usr/share/cdbs/1/rules/debhelper.mk

JAVA_HOME := /usr/lib/jvm/bm-jdk

DEB_UPDATE_RCD_PARAMS_bm-eas := "defaults 63 01"

build:
	

install/bm-eas::
	cp -rf ${CURDIR}/ROOT/* ${CURDIR}/debian/bm-eas
