<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="schemaextractor"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.bluemind.core.jdbc.schemaextractor.ExtractorApplication">
         </run>
      </application>
   </extension>
   <extension
         id="schemaextractor"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bluemind.core.jdbc.schemaextractor.schemaextractor" name="appName">
         <property
               name="appName" value="appName">
         </property>
      </product>
   </extension>

</plugin>
