<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.cti.api.IComputerTelephonyIntegration">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.cti.service.CTIFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.cti.service.internal.CTIPresenceHandler$PresFactory">
      </verticle>
   </extension>
   <extension
         point="net.bluemind.deferredaction.registry.executor">
      <executor
            implementation="net.bluemind.cti.service.internal.DeferredActionCTIExecutorFactory">
      </executor>
   </extension>
   <extension
         point="net.bluemind.core.caches.registry.registration">
      <reg
            impl="net.bluemind.cti.service.internal.CTIPresenceHandler$CacheRegistration">
      </reg>
   </extension>
   <extension point="net.bluemind.user.hook.usersettings">
      <hook impl="net.bluemind.cti.service.internal.CTIUserSettingsHook">
      </hook>
   </extension>
</plugin>
