<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.cli.cmd.api.cmdlet">
      <registration
            impl="net.bluemind.cli.sysconf.SysconfUpdateCommand$Reg"
            priority="100">
      </registration>
      <registration
            impl="net.bluemind.cli.sysconf.SysconfMultipleUpdatesCommand$Reg"
            priority="101">
      </registration>
      <registration
            impl="net.bluemind.cli.sysconf.SysconfListCommand$Reg"
            priority="102">
      </registration>
      <registration impl="net.bluemind.cli.sysconf.SysconfProxyEnableCommand$Reg"
            priority="103">
      </registration>
      <registration impl="net.bluemind.cli.sysconf.SysconfProxyDisableCommand$Reg"
            priority="104">
      </registration>
   </extension>

</plugin>
