<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.caches.registry.registration">
      <reg
            impl="net.bluemind.vertx.common.http.BasicAuthHandler$CacheRegistration">
      </reg>
   </extension>
   <extension
         point="net.bluemind.system.state">
      <state-listener
            class="net.bluemind.vertx.common.CoreStateListener">
      </state-listener>
   </extension>
</plugin>
