[Unit]
Description=BlueMind iptables rules
After=bluemind.target firewalld.service
PartOf=bluemind.target firewalld.service

[Service]
Type=oneshot
ExecStart=/etc/init.d/bm-iptables start
RemainAfterExit=yes
TimeoutStartSec=1h

[Install]
WantedBy=bluemind.target firewalld.service

