<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.domain.api.IDomainSettings">
      </endpoint>
      <endpoint
            api="net.bluemind.domain.api.IDomains">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.domain.service.DomainSettingsServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.domain.service.DomainsServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.domain.service.InCoreDomainsServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.domain.service.InCoreDomainSettingsServiceFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.directory.handler">
      <handler
            class="net.bluemind.domain.service.internal.DomainDirEntryHandler">
      </handler>
   </extension>
   <extension
         point="net.bluemind.core.caches.registry.registration">
      <reg
            impl="net.bluemind.domain.service.internal.DomainsCache$Registration">
      </reg>
      <reg
            impl="net.bluemind.domain.service.internal.DomainSettingsCache$Registration">
      </reg>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.domain.service.internal.DomainSettingsMaxUserValidator$Factory">
      </validatorfactory>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.domain.service.internal.DomainSettingsMaxBasicAccountValidator$Factory">
      </validatorfactory>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.domain.service.internal.DomainSettingsMaxFullVisioAccountValidator$Factory">
      </validatorfactory>
   </extension>
   <extension
         point="net.bluemind.server.hook.serverhook">
      <hook
            impl="net.bluemind.domain.service.internal.DomainServerHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.core.container.repair">
      <repair
            impl="net.bluemind.domain.service.internal.DeferredActionDomainRepair">
      </repair>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.domain.service.internal.DomainSettingsPasswordLifetimeValidator$Factory">
      </validatorfactory>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.domain.service.internal.DomainSettingsMailQuotaValidator$Factory">
      </validatorfactory>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.domain.service.internal.DomainSanitizer$Factory">
      </sanitizerfactory>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.domain.service.internal.SystemUserRepair$Factory">
      </repairSupport>
   </extension>
</plugin>
