<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="xivobridge"
         name="XIVO bridge"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.bluemind.xivo.bridge.BridgeApplication">
         </run>
      </application>
   </extension>
   <extension
         id="xivobridge"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bluemind.xivo.bridge.xivobridge"
            name="xivobridge">
         <property
               name="appName"
               value="xivobridge">
         </property>
      </product>
   </extension>

</plugin>
