@import "variables";

// Customized scrollbars for WebKit based browsers. Only elements having the class 'scroller-y' or using this mixin are affected.
@mixin scroller-y($stable: false) {
    overflow-x: hidden;
    overflow-y: if($stable, scroll, auto);

    // set at least one style here in order to activate the customization of the scrollbar
    &::-webkit-scrollbar {
        width: $scroll-width;

        @include until-lg {
            display: none !important;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: $backdrop;
    }

    &:hover::-webkit-scrollbar-thumb {
        border-radius: $scrollbar-thumb-border-radius;
        border: solid 2px transparent;
        background-color: $scrollbar-thumb-color !important;
        &:hover {
            border-width: 1px;
            background-color: $scrollbar-thumb-hover-color !important;
        }
        &:active {
            background-color: $scrollbar-thumb-active-color !important;
        }
        background-clip: content-box;
        // since border is transparent, add it twice to have a correct visible min-height
        min-height: $scrollbar-thumb-border-radius * 2 + 10px !important;
    }
}
