#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

JAVA_HOME := /usr/lib/jvm/bm-jdk

DEB_DH_STRIP_NONDETERMINISM_ARGS := "--exclude=."

build:
	echo "built."

install/bm-tick-node::
	cp -rf ${CURDIR}/ROOT/* ${CURDIR}/debian/bm-tick-node
