@import "../variables";

:export {
    celery: $celery;
    cyan: $cyan;
    danube: $danube;
    jaffa: $jaffa;
    lavender: $lavender;
    oslo: $oslo;
    pink: $pink;
    purple: $purple;
    tapestry: $tapestry;
    teal: $teal;
    turquoise: $turquoise;
    venus: $venus;
    yellow: $yellow;
}
