@import "../variables";

:export {
    cyan: $cyan;
    red: $red;
    green: $green;
    pink: $pink;
    yellow: $yellow;
    purple: $purple;
    blue-dark: $blue-dark;
    gray: $gray;
    orange: $orange;
    yellow-light: $yellow-light;
    black: $black;
}
