<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.forest.instance.service.ForestEnrollmentService$FEnrollServiceFactory"></serviceFactory>
      <serviceFactory
            class="net.bluemind.forest.instance.service.ForestOrdersService$FOrdersServiceFactory"></serviceFactory>
   </extension>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.forest.instance.api.IForestEnrollment">
      </endpoint>
      <endpoint
            api="net.bluemind.forest.instance.api.IForestOrders">
      </endpoint>
   </extension>
</plugin>
