<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.auditlogs.client.es.datastreams.indextemplate">
      <schema
            datastream_name="audit_log"
            indextemplatename="auditlogs_template"
            name="auditlogs_template"
            resource="auditlog_index_template.json"
            rewritable="false">
      </schema>
   </extension>

</plugin>
