<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.maintenance.scripts">
      <java
            code="net.bluemind.maintenance.elastic.IndexRollover"
            priority="50">
      </java>
   </extension>
   <extension
         point="net.bluemind.system.upgraders.hot.hotupgradeoperation">
      <hot-upgrade-operation-provider
            class="net.bluemind.maintenance.elastic.ElasticAliasMoveOperation$Factory">
      </hot-upgrade-operation-provider>
   </extension>

</plugin>
