<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.ui.commons.banner.widget">
      <widget-entry
            creator="CTIWidgetCreator"
            role="hasCTI">
      </widget-entry>
   </extension>
   <extension point="webapp.banner">
      <component name="BmCTIWidget" path="widget"></component>
   </extension>
   <extension
         point="net.bluemind.webmodule">
      <web-module-provider
            module="*">
         <web-resource
               bundle="net.bluemind.ui.banner.cti">
         </web-resource>
         <js path="js/compile/net.bluemind.ui.banner.cti.js">
         </js>
         <css
               path="css/net.bluemind.ui.banner.cti.css">
         </css>  
         </web-module-provider>
   </extension>

</plugin>
