<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.milter.actionfactory">
      <action_factory
            impl="net.bluemind.milter.action.signature.AddSignatureActionFactory"
            priority="0">
      </action_factory>
   </extension>
    <extension
         point="net.bluemind.hornetq.forwardToVertx">
      <vertx-forwarder
            class="net.bluemind.milter.action.signature.MilterMessageForwarder">
      </vertx-forwarder>
   </extension>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.milter.action.signature.DirectoryCacheFactory">
      </verticle>
   </extension>

</plugin>
