<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.bluemind.eas.backend" name="backend" schema="schema/net.bluemind.eas.backend.exsd"/>
   <extension-point id="net.bluemind.eas.storage" name="storage" schema="schema/net.bluemind.eas.storage.exsd"/>
   <extension-point id="net.bluemind.eas.search" name="search" schema="schema/net.bluemind.eas.search.exsd"/>
   <extension-point id="net.bluemind.eas.protocol" name="protocol" schema="schema/net.bluemind.eas.protocol.exsd"/>

   <extension
         id="push"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.bluemind.eas.EasApplication">
         </run>
      </application>
   </extension>

   <extension
         id="pushid"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bluemind.eas.push"
            name="push">
         <property
               name="appName"
               value="push">
         </property>
      </product>
   </extension>
   <extension
         point="net.bluemind.eas.http.endpoint">
      <handler
            impl="net.bluemind.eas.command.folder.sync.FolderSyncEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.search.SearchEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.getitemestimate.GetItemEstimateEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.getattachment.GetAttachmentEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.itemoperations.ItemOperationsEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.mail.smartforward.SmartForwardEndpoint12">
      </handler>
      <handler
            impl="net.bluemind.eas.command.mail.smartforward.SmartForwardEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.mail.smartreply.SmartReplyEndpoint12">
      </handler>
      <handler
            impl="net.bluemind.eas.command.mail.smartreply.SmartReplyEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.mail.sendmail.SendMailEndpoint12">
      </handler>
      <handler
            impl="net.bluemind.eas.command.mail.sendmail.SendMailEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.resolverecipients.ResolveRecipientsEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.settings.SettingsEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.meetingresponse.MeetingResponseEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.folder.crud.FolderCreateEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.folder.crud.FolderUpdateEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.folder.crud.FolderDeleteEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.provision.ProvisionEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.moveitems.MoveItemsEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.sync.SyncEndpoint">
      </handler>
      <handler
            impl="net.bluemind.eas.command.ping.PingEndpoint">
      </handler>
      <filter
            impl="net.bluemind.eas.command.provision.ProvisionFilter">
      </filter>
      <filter
            impl="net.bluemind.eas.command.provision.WipedDevicesFilter">
      </filter>
   </extension>
   <extension
         point="net.bluemind.eas.protocol">
      <protocol
            impl="net.bluemind.eas.command.settings.SettingsProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.provision.ProvisionProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.ping.PingProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.folder.sync.FolderSyncProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.folder.crud.FolderCreateProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.folder.crud.FolderDeleteProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.folder.crud.FolderUpdateProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.settings.SettingsProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.search.SearchProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.moveitems.MoveItemsProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.meetingresponse.MeetingResponseProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.resolverecipients.ResolveRecipientsProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.mail.sendmail.SendMailProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.mail.smartreply.SmartReplyProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.mail.smartforward.SmartForwardProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.getitemestimate.GetItemEstimateProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.itemoperations.ItemOperationsProtocol">
      </protocol>
      <protocol
            impl="net.bluemind.eas.command.sync.SyncProtocol">
      </protocol>
   </extension>

</plugin>
