<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.role.api.IRoles">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.role.service.RolesFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.role.provider">
      <roles-provider
            class="net.bluemind.role.service.internal.BaseRolesProvider">
      </roles-provider>
   </extension>
   <extension
         point="net.bluemind.role.profile">
      <profile
            id="user"
            label="%profile.user.label">
         <role
               id="hasMail"></role>
         <role
               id="hasCalendar">
         </role>
         
     <role
               id="mailForwarding">
         </role>
         <role
               id="selfChangePassword">
         </role>
         <role
               id="selfChangeSettings">
         </role>
    <role
               id="selfChangeMailIdentities">
         </role>
    <role
               id="selfChangeMailboxFilter">
         </role>
    <role
               id="readDomainFilters">
         </role>
    <role
          id="accessRoundcubeWebmail"></role>
      </profile>
         <profile
            id="admin"
            label="%profile.admin.label">
         <role
               id="hasMail"></role>
         <role
               id="hasCalendar">
         </role><role
               id="admin">
         </role><role
               id="hasAdminConsole">
         </role>
         <role
               id="readDomainFilters">
         </role>
     <role
               id="mailForwarding">
         </role>
         <role
               id="selfChangePassword">
         </role>
         <role
               id="selfChangeSettings">
         </role>
    <role
               id="selfChangeMailIdentities">
         </role>
    <role
               id="selfChangeMailboxFilter">
         </role>
      </profile>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.role.service.InternalRolesFactory">
      </serviceFactory>
   </extension>
    
</plugin>
