Source: bluemind
Section: net
Priority: optional
Maintainer: BlueMind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-checks
Architecture: amd64
Depends: curl, expect, sasl2-bin
Description: BlueMind services health check scripts
  BlueMind services health check scripts
