<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.monitoring.provider">
      <provider
            api="net.bluemind.monitoring.service.IServiceInfoProvider"
            impl="net.bluemind.monitoring.handler.system.SystemHandler"
            service-name="system">
         <tags
               tag="bm/system">
         </tags>
      </provider>
   </extension>
   
</plugin>
