<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.cli.node.status" name="status" schema="schema/net.bluemind.cli.node.status.exsd"/>
   <extension
         point="net.bluemind.cli.cmd.api.cmdlet">
      <registration
            impl="net.bluemind.cli.node.StatusCommand$Reg"
            priority="500">
      </registration>
   </extension>
   <extension
         point="net.bluemind.cli.node.status">
      <status
            provider="net.bluemind.cli.node.DmesgStatusProvider">
      </status>
   </extension>
   <extension
         point="net.bluemind.cli.node.status">
      <status
            provider="net.bluemind.cli.node.CpuFlagStatusProvider">
      </status>
   </extension>

</plugin>
