<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.reminder.job">
      <job_provider
            implementation="net.bluemind.todolist.job.TodoListAlarmSupport">
      </job_provider>
   </extension>
   <extension
         point="net.bluemind.scheduledjob.scheduler.job">
      <scheduledjob_provider
            implementation="net.bluemind.todolist.job.TodoListIndexJob">
      </scheduledjob_provider>
   </extension>

</plugin>
