<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.ui.adminconsole.menusContributor" name="menusContributors" schema="schema/net.bluemind.ui.adminconsole.menusContributor.exsd"/>
   <extension-point id="net.bluemind.ui.adminconsole.screenContributor" name="screenContributor" schema="schema/net.bluemind.ui.adminconsole.screenContributor.exsd"/>
   <extension
         point="net.bluemind.extensions">
      <export-extension-point
            id="net.bluemind.ui.adminconsole.menusContributor"
            module="/adminconsole">
      </export-extension-point>
      <export-extension-point
            id="net.bluemind.ui.adminconsole.screenContributor"
            module="/adminconsole">
      </export-extension-point>
   </extension>

</plugin>
