<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.backend.cyrus.replication.link.CyrusServiceVerticleFactory">
      </verticle>
      <verticle
            impl="net.bluemind.backend.cyrus.replication.link.probe.LatencyMonitorWorker$Factory">
      </verticle>
   </extension>
   <extension
         point="net.bluemind.backend.cyrus.replication.observers.provider">
      <provider
            impl="net.bluemind.backend.cyrus.replication.link.probe.ReplicationFeebackObserver">
      </provider>
   </extension>

</plugin>
