<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.genericHolder">
      <generic_holder
            holder="net.bluemind.core.container.api.internal.ItemValueAsGenericHolder">
      </generic_holder>
   </extension>

</plugin>
