<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.jdbc.schema">
      <schema
            name="mapi-schema"
            resource="sql/mapi-schema.1.0.0.sql">
         <compose
               id="item-store">
         </compose>
      </schema>
      <schema
            name="mapi-fai-schema"
            resource="sql/mapi-fai.1.0.0.sql">
         <compose
               id="mapi-schema">
         </compose>
      </schema>
      <schema
            name="mapi-folders-schema"
            resource="sql/mapi-folders.1.0.0.sql">
         <compose
               id="mapi-schema">
         </compose>
      </schema>
      <schema
            name="mapi-rules-schema"
            resource="sql/mapi-rules.1.0.0.sql">
         <compose
               id="mapi-schema">
         </compose>
      </schema>
   </extension>
   <extension
         point="net.bluemind.system.schemaupgrader.sqlscript">
      <sql
            ignore_errors="false"
            database="net.bluemind.system.schemaupgrader.UpgraderDatabase$ALL" 
            date_yyyyMMdd="20200428" 
            sequence="10"
            script="sql/mapi-schema.1.0.0.sql">
      </sql>
      <sql
            ignore_errors="false"
            database="net.bluemind.system.schemaupgrader.UpgraderDatabase$ALL" 
            date_yyyyMMdd="20200428" 
            sequence="10"
            script="sql/mapi-fai.1.0.0.sql">
      </sql>
      <sql
            ignore_errors="false"
            database="net.bluemind.system.schemaupgrader.UpgraderDatabase$ALL"
            date_yyyyMMdd="20200428" 
            sequence="10"
            script="sql/mapi-folders.1.0.0.sql">
      </sql>
      <sql
        	database="net.bluemind.system.schemaupgrader.UpgraderDatabase$ALL" 
        	date_yyyyMMdd="20200428" 
        	sequence="10"
            ignore_errors="false"
            script="sql/mapi-rules.1.0.0.sql">
      </sql>
   </extension>

</plugin>
