<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.webmodule">
      <web-module-provider
            module="/adminconsole,/cal,/contact,/settings,/task,/visio,/webapp">
         <css
               path="css/montserrat/index.css">
         </css>
         <web-resource
               bundle="net.bluemind.webmodules.fonts">
         </web-resource>
      </web-module-provider>
      
   </extension>
</plugin>
