Source: bluemind
Section: net
Priority: optional
Maintainer: BlueMind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-upgraders-list
Architecture: amd64
Description: BlueMind upgraders list
  BlueMind upgraders list

