#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

JAVA_HOME := /usr/lib/jvm/bm-jdk

DEB_UPDATE_RCD_PARAMS_bm-xmpp := "defaults 63 01"

DEB_DH_STRIP_NONDETERMINISM_ARGS := "--exclude=."

build:
	

install/bm-xmpp::
	cp -rf ${CURDIR}/ROOT/* ${CURDIR}/debian/bm-xmpp
