[Unit]
Description=BlueMind SDS Proxy Server.
Before=runlevel2.target runlevel3.target runlevel4.target runlevel5.target shutdown.target
After=systemd-journald-dev-log.socket network-online.target
Wants=network-online.target
Conflicts=shutdown.target
ConditionPathExists=!/etc/bm/bm-sds-proxy.disabled

[Service]
Type=notify
Restart=on-abnormal

User=cyrus
Group=mail
WorkingDirectory=/var/log
TimeoutStartSec=90s
GuessMainPID=no
RemainAfterExit=no
SuccessExitStatus=129 143

LimitCORE=infinity
LimitNOFILE=65535

PermissionsStartOnly=true
Environment=JAVA_HOME=/usr/lib/jvm/bm-jdk
ExecStartPre=/usr/share/bm-sds-proxy/bm-sds-proxy pre-start
ExecStart=/usr/share/bm-sds-proxy/bm-sds-proxy
ExecStartPost=/usr/share/bm-sds-proxy/bm-sds-proxy post-start

[Install]
WantedBy=multi-user.target
