[Unit]
Description=BlueMind SDS Proxy Server
ConditionPathExists=!/etc/bm/bm-sds-proxy.disabled
After=bm-core.service
PartOf=bluemind.target

[Service]
Type=notify
Restart=on-abnormal

User=cyrus
Group=mail
WorkingDirectory=/var/spool/cyrus
TimeoutStartSec=90s
GuessMainPID=no
RemainAfterExit=no
SuccessExitStatus=129 143

LimitCORE=infinity
LimitNOFILE=65535

PermissionsStartOnly=true
Environment="PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin"
Environment=JAVA_HOME=/usr/lib/jvm/bm-jdk
ExecStartPre=/usr/share/bm-sds-proxy/bm-sds-proxy pre-start
ExecStart=/usr/share/bm-sds-proxy/bm-sds-proxy
ExecStartPost=/usr/share/bm-sds-proxy/bm-sds-proxy post-start

[Install]
WantedBy=bluemind.target
