Source: bluemind
Section: net
Priority: optional
Maintainer: Blue Mind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-sds-proxy
Architecture: amd64
Depends: bm-jdk (= 8u292-bluemind40)
Description: BlueMind SDS proxy
 BlueMind SDS proxy is mandatory to use cyrus-imapd with an S3 object store
