#!/usr/bin/make -f



include /usr/share/cdbs/1/rules/debhelper.mk

JAVA_HOME := /usr/lib/jvm/bm-jdk

DEB_UPDATE_RCD_PARAMS_bm-tika := "defaults 63 01"

build:
	echo "sds"

install/bm-sds-proxy::
	cp -rf ${CURDIR}/ROOT/* ${CURDIR}/debian/bm-sds-proxy
