<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.calendar.api.ICalendar">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.ICalendarUids" 
            inline="true">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.ICalendarViewUids" 
            inline="true">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.IFreebusyUids" 
            inline="true">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.IVFreebusy">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.ICalendarView">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.IPrint">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.IVEvent">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.ICalendarAutocomplete">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.ICalendarSettings">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.IPublicFreebusy">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.ICalendarsMgmt">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.ICalendars">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.IFreebusyMgmt">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.IPublishCalendar">
      </endpoint>
      <endpoint
            api="net.bluemind.calendar.api.IUserCalendarViews">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.tag.eventConsumer">
      <consumer
            class="net.bluemind.calendar.service.internal.TagEventConsumer">
      </consumer>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.calendar.service.CalendarServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.InternalCalendarServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.VEventServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.CalendarsServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.CalendarViewServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.InCoreCalendarViewServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.VFreebusyServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.PrintServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.CalendarsMgmtFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.InCoreCalendarsMgmtFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.CalendarSettingsFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.CalendarAutocompleteServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.PublicFreebusyServiceFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.FreebusyMgmtFactory"></serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.PublishCalendarFactory">
      </serviceFactory>
      <serviceFactory
            class="net.bluemind.calendar.service.UserCalendarViewsServiceFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.directory.handler">
      <handler
            class="net.bluemind.calendar.service.internal.DomainCalendarDirEntryHandler">
      </handler>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.calendar.service.internal.VCardAttendeeVEventSanitizer$Factory">
      </sanitizerfactory>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.calendar.service.internal.CalendarDescriptorSanitizer$Factory">
      </sanitizerfactory>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.calendar.service.internal.CalendarDescriptorValidator$Factory">
      </validatorfactory>
   </extension>
   <extension
         point="net.bluemind.core.rest.eventBusAccessRule">
      <access-rule
            class="net.bluemind.calendar.service.CalendarEventBusAccessRule">
      </access-rule>
   </extension>
   <extension
         point="net.bluemind.core.caches.registry.registration">
      <reg
            impl="net.bluemind.calendar.service.cache.PendingEventsCache">
      </reg>
   </extension>
   <extension
         point="net.bluemind.core.container.sharding.sharded">
      <container
            type="calendar">
      </container>
   </extension>
   <extension
         point="net.bluemind.directory.repairSupport">
      <repairSupport
            factory="net.bluemind.calendar.service.internal.repair.CalendarViewRepairSupport$Factory">
      </repairSupport>
      <repairSupport
            factory="net.bluemind.calendar.service.internal.repair.CalendarRecurrenceRepair$Factory">
      </repairSupport>
   </extension>
   <extension
         point="net.bluemind.core.sanitizerfactory">
      <sanitizerfactory
            implementation="net.bluemind.calendar.service.internal.VEventSeriesSanitizer$Factory">
      </sanitizerfactory>
   </extension>
   <extension point="net.bluemind.deferredaction.registry.executor">
      <executor
            implementation="net.bluemind.calendar.service.eventdeferredaction.EventDeferredActionExecutorFactory">
      </executor>
   </extension>
   <extension
         point="net.bluemind.calendar.hook">
      <hook
            impl="net.bluemind.calendar.service.eventdeferredaction.EventDeferredActionHook">
      </hook>
   </extension>
</plugin>
