<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <!-- Sentry send exceptions -->
  <appender name="Sentry" class="io.sentry.logback.SentryAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>
  <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>/var/log/bm-ysnp/ysnp.log</File>
    <encoder>
      <pattern>%d [%thread] %c{1} %p - %m\n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>5</maxIndex>
      <FileNamePattern>/var/log/bm-ysnp/ysnp.log.%i.gz</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>5000KB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <logger name="io.netty.bootstrap" level="ERROR" />
  <root level="INFO">
    <appender-ref ref="R"/>
    <appender-ref ref="Sentry"/>
  </root>
</configuration>
