<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bluemind.core.container.hooks.container">
      <hook
            impl="net.bluemind.core.backup.continuous.events.ContainersContinuousHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.core.container.hooks.aclhook">
      <acl_hook
            impl="net.bluemind.core.backup.continuous.events.ContainersContinuousHook">
      </acl_hook>
   </extension>
   <extension
         point="net.bluemind.system.hook">
      <observer
            class="net.bluemind.core.backup.continuous.events.SysconfContinuousHook">
      </observer>
   </extension>
   <extension
         point="net.bluemind.group.hook.grouphook">
      <hook
            impl="net.bluemind.core.backup.continuous.events.MembershipsContinuousHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.role.hook.rolehook">
      <hook
            impl="net.bluemind.core.backup.continuous.events.RolesContinuousHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.resource.resourceTypeHook">
      <hook
            class="net.bluemind.core.backup.continuous.events.ResourceTypeContinuousHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.lib.vertx.verticles">
      <verticle
            impl="net.bluemind.core.backup.continuous.events.BubbleEventsVerticle$Factory">
      </verticle>
   </extension>
   <extension
         point="net.bluemind.exchange.mapi.hook.artifacts">
      <artifacts
            impl="net.bluemind.core.backup.continuous.events.MapiArtifactsHook">
      </artifacts>
   </extension>
   <extension
         point="net.bluemind.system.state">
      <state-listener
            class="net.bluemind.core.backup.continuous.events.TokenContinuousHook">
      </state-listener>
   </extension>
   <extension
         point="net.bluemind.mailbox.hook">
      <hook
            class="net.bluemind.core.backup.continuous.events.MailFilterContinuousHook">
      </hook>
   </extension>

</plugin>
