<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bluemind.filehosting.service" name="service" schema="schema/net.bluemind.filehosting.exsd"/>
   <extension
         point="net.bluemind.core.rest.apiEndpoint">
      <endpoint
            api="net.bluemind.filehosting.api.IFileHosting">
      </endpoint>
   </extension>
   <extension
         point="net.bluemind.core.rest.serviceFactory">
      <serviceFactory
            class="net.bluemind.filehosting.service.FileHostingServiceFactory">
      </serviceFactory>
   </extension>
   <extension
         point="net.bluemind.role.provider">
      <roles-provider
            class="net.bluemind.filehosting.service.FileHostingRolesProvider">
      </roles-provider>
   </extension>
   <extension
         point="net.bluemind.server.hook.serverhook">
      <hook
            impl="net.bluemind.filehosting.config.FileHostingServerHook">
      </hook>
   </extension>
   <extension
         point="net.bluemind.nginx.update">
      <updater
            impl="net.bluemind.filehosting.config.FileHostingConfigUpdater">
      </updater>
   </extension>
   <extension
         point="net.bluemind.role.verifier">
      <verifier
            impl="net.bluemind.filehosting.service.internal.FileHostingRolesVerifier">
      </verifier>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.filehosting.config.FileHostingSettingsValidator$FileHostingSettingsValidatorFactory">
      </validatorfactory>
   </extension>
   <extension
         point="net.bluemind.core.validatorfactory">
      <validatorfactory
            implementation="net.bluemind.filehosting.config.FileHostingGlobalSettingsHook$FileHostingGlobalSettingsValidatorFactory">
      </validatorfactory>
   </extension>
 <extension
         point="net.bluemind.authentication.service.rolevalidation">
      <validator
            implementation="net.bluemind.filehosting.service.internal.FileHostingRoleValidator">
      </validator>
   </extension>

   <extension
         point="net.bluemind.globalsettings.hook">
      <observer
            class="net.bluemind.filehosting.config.FileHostingGlobalSettingsHook">
      </observer>
   </extension>

</plugin>
