[Unit]
Description=BlueMind Core Server
ConditionPathExists=!/etc/bm/bm-core.disabled
After=bm-node.service postgresql.service
PartOf=bluemind.target

[Service]
TasksMax=10000
Type=notify
WorkingDirectory=/var/log
TimeoutStartSec=90s
GuessMainPID=no
RemainAfterExit=no
LimitNOFILE=65536
SuccessExitStatus=129 143
Environment="PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin"
Environment=JAVA_HOME=/usr/lib/jvm/bm-jdk
ExecStart=/usr/share/bm-core/bm-core /var/run/bm-core.pid

[Install]
WantedBy=bluemind.target
