Source: bluemind
Section: net
Priority: optional
Maintainer: Blue Mind Team <team@blue-mind.net>
Standards-Version: 3.9.1

Package: bm-core
Architecture: amd64
Depends: bm-jdk (= 8u242-bluemind32), bm-conf (= ${binary:Version}), openssl, bm-tika (= ${binary:Version}), bm-plugin-core-subscription (= ${binary:Version})
Recommends: bm-plugin-core-outlook (= ${binary:Version})
Replaces: bm-ca, bm-cert, bm-plugin-core-backup, bm-plugin-core-hsm
Conflicts: bm-ca, bm-cert
Description: BlueMind core server
 BlueMind core server

Package: bm-soap
Depends: bm-core, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: bm-plugin-core-dataprotect-upgrade
Depends: bm-core, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
