<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.cli.cmd.api.cmdlet">
      <registration
            impl="net.bluemind.cli.mail.MailHistoryByGuidCommand$Reg"
            priority="60">
      </registration>
      <registration
            impl="net.bluemind.cli.mail.MailHistoryByImapUIDCommand$Reg"
            priority="60">
      </registration>
      <registration
            impl="net.bluemind.cli.mail.MailHistoryByQueryCommand$Reg"
            priority="60">
      </registration>
      <registration
            impl="net.bluemind.cli.mail.IndexedMailCountCommand$Reg"
            priority="60">
      </registration>
      <registration
            impl="net.bluemind.cli.mail.MailCountCommand$Reg"
            priority="60">
      </registration>

   </extension>

</plugin>
